body {
  padding-top: 4em;
  background-color: #F5F8FA;
}
/* move search to right and add padding */
nav form#search {
  float: right;
  padding: 0.5em;
}
nav form#search .glyphicon-search {
    z-index: 99;
    position: absolute;
    right: 0.7em;
    top: 50%;
    margin-top: -0.44em;
}
nav form#search .input-group .form-control {
    border-radius: 0.25em;
}

#nav-options {
  margin: 0.5em;
}
#nav-options button.thumbnail {
  margin: 0;
  padding: 0;
}
#nav-options img {
  max-height: 2.3em;
  border-radius: 0.3em;
}

/* add style for poll */
#create-poll {
  margin: 0.5em;
}

/* Change background color for navbar */
.navbar-default {
  background-color: #307b99;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
  color: #FFF;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  color: #FFF;
  padding-bottom: 0.62em;
  border-bottom: 0.45em solid #FFF;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #F3F3F3;
  padding-bottom: 0.62em;
  border-bottom: 0.45em solid #F3F3F3;
}

/* Add position and padding to notification badges */
.navbar-nav .badge, .navbar-header .badge {
  color: #FFF;
  background-color: #FF4400;
  font-size: 0.7em;
  padding: 0.27rem 0.55rem 0.2rem 0.4rem;
  position: absolute;
  left: 0.37rem;
  top: 0.7rem;
  z-index: 99;
  border: 0.2rem solid #307b99;
}
/* fix color of collapse hamburger */
.navbar-header .navbar-toggle,
.navbar-default .navbar-toggle:focus {
  background-color: #57A5D2;
}
.navbar-default .navbar-toggle:hover {
  background-color: #3986B3;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
/* change border line to right in small devices */
@media(max-width:34em){
  .navbar-default .navbar-nav > .active > a {
    border-bottom: none;
    border-left: 0.45em solid #FFF;
    padding-left: 0.5em;
  }
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #F3F3F3;
    padding-left: 0.62em;
    border-left: 0.45em solid #F3F3F3;
  }
}
/* Notification */
#notification-list {
  max-height: 30em;
  overflow: auto;
}
#notification-list .capture-read {
  display: -webkit-flex;
  display: flex;
  opacity: 0.7;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.3rem;
  background-color: #EFEFEF;
  position: relative;
}
#notification-list .notification-message {
  display: inline-block;
  white-space: normal;
  min-width: 25rem;
}
#notification-list a:hover {
  color: #262626;
  text-decoration: none;
  opacity: 1;
}
#notification-list span.since {
  font-size: 0.7em;
  color: #646C82;
}
@media(max-width:34em){
  #notification-list .notification-message{
    display: inline-block;
    white-space: normal;
    /* max-width: 10rem; */
  }
  #notification-list .capture-read {
    background-color: #FFF;
    opacity: 1;
  }
  #notification-list {
    background-color: #EEE;
    opacity: 1;
  }
}
/* CSS for the .card class */
.card {
  position: relative;
  border: 0.1rem solid #e5e5e5;
  border-radius: 0.4rem;
  position: relative;
  background-color: #FFF;
}
.card-img-top {
  border-radius: 0.4rem 0.4rem 0 0;
}
.card-block {
  padding: 1.25rem;
}
.card .card-header {
  border-radius: 0.4rem 0.4rem 0 0;
  padding: .75rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 0.1em solid #e5e5e5;
  color: #4e5665;
  font-weight: bold;
}
.card-block .card-title {
  margin: 0;
  margin-left: 0.5em;
}
.card-block .card-title small {
  display: block;
}
.card-block .card-text {
  clear: both;
  padding-top: 0.25em;
  margin-bottom: 1.5em;
}

#feed {
  margin: 0;
}
#feed .feed-box, #news-feed .feed-post {
  padding: 1em 1em;
  border-bottom: 0.2rem solid #e5e5e5;
}
#feed .feed-box:last-child {
  border-bottom: none;
}
#feed .feed-result {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
#feed .feed-post {
  width: 80%;
  display: inline-block;
  margin-left: 2%;
}
/* cheats to determine how to divide the resul */
#feed .feed-post.voted {
  width: 30%;
  display: inline-block;
  margin-left: 2%;
}
#feed .feed-result.voted {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
  margin-top: 8%;
}
/* end */

#feed .feed-post h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
#feed .feed-footer {
  margin-top: 5%;
  margin-right: 5%;
  padding-left: 1em;
}
#feed .feed-footer a {
  width: 20%;
  display: inline-block;
  text-align: center;
}
#feed .feed-footer a:hover {
  text-decoration: none;
}
#feed .feed-footer .like-count {
  padding-left: 0.2em;
  font-weight: bold;
}
#feed .quiz-post {
  width: 95%;
  display: inline-block;
  margin-left: 2%;
}
#feed .quiz-instruct {
  margin-left: 2%;
}
.error-message {
  font-size: 0.8em;
  color: #900;
}
.warning {
  color: #900;
  background: #ffc;
  padding: 5px;
}
