/* Theme for Cover page */
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  /*padding-top: 40px;*/
  padding-bottom: 10px;
  color: #fff;
  text-align: center;

}

p.lead {
  text-align: left;
}

p.signup-button {
  text-align: center;
}
a#policy {
  color: #5F9EA0;
}
h4.masthead-brand small {
  font-size: 0.6em;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
/* index cover page */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-row;
}

.site-wrapper-inner2 {
  display: table-row;
  background-color: #778899;
}

p.sub-heading{
  font-family: cursive;
  font-size: 1.2em;
  /*color: #221;*/
}

.main-row {
  /*margin-top: 30px;
  padding-top: 20px;*/
}
.cover-container {
  margin-right: auto;
  margin-left: auto;

}

/* Padding for spacing */

.inner {
  padding: 20px;

}
.inner2 {
  margin-bottom: 20px;
}
.masthead-nav {
  /*position: absolute;
  top: 40px;
  left: 170px;*/
  /*float: left;*/
}

/*
 * Header
 */
.masthead-brand {
  /*position: fixed;*/
  /*top: 6px;*/
  /*left: 20px;*/
  /*margin-top: 10px;*/
  /*margin-bottom: 10px;*/
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 15px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    /*float: right;*/
    /*padding-right: 40px;*/
  }

}

/*
 * Cover
 */

/*.cover {
  padding: 0 20px;

}*/
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 /* Footer for index cover */

.mastfoot {
  align-content: center;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);

}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: relative;
    align-content: center;
  }

  .mastfoot {
    /*position: relative;*/
    /*bottom: 0;*/
    /*left: 170px;*/
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
    background-color: #2F4F4F;
    /*#307b49, 2F4F4F, 778899, 708090*/
    /*background-image: url(/static/polls/images/backg-image4.jpg);
    background-repeat: no-repeat;*/
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/* general footer */

.navbar-right {
  padding-right: 30px;
}

/* Resizing modal box and position */
.modal-content {
  width: 300px;
  top: 140px;
}

.login-popup {
  width: 400%;
  padding: 10px;
}
