.transition,
.transition:hover,
.transition:focus {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
html, body {
  position: relative;
  height: 100%;
  background-color: #e5e9ec;
}

/* navigation style */

nav.navbar-fixed-top {
  background-color: #FFF;
  border: none;
}
nav .top-left-menu {
  background-color: #252830;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.navbar-brand {
  height: auto;
}
.navbar-brand h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
  color: #FFF;
}
nav .header-button {
  margin-left: auto;
  color: #FFF;
}

/* navigation search */
nav form#search {
  padding: 0.9em;
}
nav form#search .input-group {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
nav form#search .input-group .form-control {
  border-radius: 0.25em;
  border: none;
  width: 70%;
  padding-left: 1.9em;
  background-color: #F3F3F3;
  box-shadow: none;
}
nav form#search .input-group .form-control:focus {
  width: 100%;
  box-shadow: none;
}
nav form#search .glyphicon-search {
  z-index: 99;
  left: 1.7em;
}
/*nav menu*/
nav #nav-menu {
  float: right;
  padding: 0.4em;
  padding-right: 1em;
}
@media(max-width:48em){
  form#search {
    display: none;
  }
  nav #nav-menu {
    float: none;
  }
}

.navbar-toggle {
  border-color: #252830;
  background-color: #e5e9ec;
  margin-top: 13px
}
.navbar-toggle .icon-bar {
  background-color: #252830;
}
.clickable {
  cursor: pointer;
}
/*nav menu and notifications*/
#nav-menu.navbar-collapse {
  max-height: 39rem; /* when collapsed */
}
#nav-menu .divider {
  height: 0.1rem;
  margin: 0.9rem 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#nav-menu #btn-notifications > button > .badge {
  color: #FFF;
  background-color: #f35958;
  font-size: 0.7em;
  padding: 0.3rem 0.55rem 0.3rem 0.5rem;
  position: absolute;
  right: -0.4rem;
  top: 1rem;
  z-index: 99;
}
#btn-notifications .btn-link,
  #nav-menu li a {
  padding-top: 1.5rem;
  color: #252830;
  font-weight: 500;
}

#btn-notifications .btn-link:hover {
  text-decoration: none;
}

/* Notifications list */
#notification-list {
  max-height: 20em;
  overflow: auto;
}
#notification-list .capture-read {
  display: -webkit-flex;
  display: flex;
  opacity: 0.7;
  margin: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.3rem;
  background-color: #EFEFEF;
  position: relative;
}
#notification-list a:hover {
  color: #262626;
  text-decoration: none;
  opacity: 1;
}
#notification-list .notification-message {
display: inline-block;
white-space: normal;
min-width: 25rem;
}
#notification-list .badge:empty {
display: inline-block;
position: absolute;
right: 0.5rem;
top: 0.5rem;
background-color: #f35958;
height: 1.4rem;
}
#notification-list span.since {
font-size: 0.7em;
color: #646C82;
}

@media(max-width:48em){
  #nav-menu #btn-notifications > button > .badge {
    right: inherit;
    left: 10rem;
  }
  #btn-notifications,
  #btn-notifications > button {
    width: 100%;
    text-align: left;
  }
  #notification-list {
    margin: 1.25rem;
    margin-left: 2rem;
    background-color: #e5e9ec;
  }
  #notification-list .capture-read {
    background-color: #FFF;
    opacity: 1;
  }


}

/* Profile */
#nav-profile {
  margin: 0.5em;
  margin-left: 1em;
}
#nav-profile button.thumbnail {
  margin: 0;
  padding: 0;
  border: 0;
}
#nav-profile img {
  max-height: 2.3em;
}

/* side menu */
#side-menu {
  background-color: #1b1e24;
  padding-top: 7.2rem;
  height: 100%;
  position: fixed;
}
#side-menu .profile-block > * {
  display: inline-block;
}
#side-menu .profile-block img {
  width: 70px;
}
#side-menu .profile-title {
  color: #FFF;
  margin-left: 1rem;
  font-size: 1.5em;
  vertical-align: middle;
}
#side-menu .profile-title small {
  display: block;
}

#side-menu ul.nav {
  margin-top: 1rem;
}
#side-menu ul.nav a {
  color: #8b91a0;
}
#side-menu ul.nav a:hover,
#side-menu ul.nav a:focus {
  color: #FFF;
  background-color: inherit;
}
#side-menu ul.nav a .glyphicon {
  margin-right: 0.7rem;
}
#side-menu ul.nav a .glyphicon.pull-right {
  margin-top: 0.2rem;
}
#side-menu ul.nav a .badge {
  background-color: #1ca095;
}
#side-menu ul.nav .nav-divider {
  background-color: #252830;
}
#side-menu ul.nav ul {
  margin-left: 10%;
}
#side-menu ul.nav ul a {
  display: block;
  background-color: #2b303b;
  padding: 1rem;
  margin-bottom: 0.3rem;
  border-radius: 0.25em;
}
#side-menu ul.nav ul a:hover {
  text-decoration: none;
  background-color: #434857;
}
/* arrow link will rotate 90 on click */
#side-menu ul.nav a:focus .glyphicon.pull-right {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#side-menu ul.nav a .glyphicon.pull-right {
  margin-top: 0.2rem;
  will-change: transform;
}

/* Add main content styling */
#main {
  padding-top: 7.2rem;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
}
.card {
  position: relative;
  border-radius: 0.25em;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  background-color: #FFF;
  margin: 1.25rem;
  flex-grow: 5;
}
.card * {
  color: #252830;
}
.card-block {
  padding: 2rem;
}
.card-block h2 {
  margin: 0;
  margin-bottom: 1.5rem;
  color: #252830;
}

/* round chart styling */
.round-chart {
  display: inline-block;
  position: relative;
}
.round-chart + .round-chart {
  float: right;
}
.round-chart span {
  font-size: 3em;
  font-weight: 100;
  line-height: 1.7rem;
  width: 12rem;
  height: 4.4rem;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.round-chart span > small {
  font-size: 2rem;
  font-weight: 400;
}
@media(max-width:48em){
  .round-chart,
  .round-chart canvas {
    display: block;
    margin: auto;
  }
  .round-chart + .round-chart {
    margin-top: 2rem;
    float: none;
  }
}

#quick-info .card-block {
  display: flex;
  flex-direction: column;
}
#quick-info .quick-stats {
  font-size: 2rem;
  line-height: 3rem;
  border-bottom: 0.1rem solid #e5e9ec;
}
#quick-info .quick-stats strong {
  font-weight: 300;
}
#quick-info .quick-stats span {
  font-weight: 300;
  float: right;
  color: #8b91a0;
}
/* loading image settings */
.loading {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-image: url('../imgs/loading.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #e5e9ec;
}
#real-time li {
  font-size: 1.8rem;
  font-weight: 300;
  border-bottom: 0.1rem solid #e5e9ec;
  padding: 0.5rem 0;
}
#real-time .badge.ok {
  background-color: #1bc98e;
}
#real-time .badge span,
#real-time .label {
  color: #FFF;
}
#real-time .badge,
#real-time .label {
  margin-top: 0.25rem;
}
#daily-usage .area-chart {
  height: 300px;
}

/* ALERT SETTINGS */
.alert h3 {
  margin: 0  0 1rem;
  font-size: 1.4em;
}
.alert {
  border-left-width: 0.5rem;
}

.table>tbody>tr>td.status>span.status-active {
  color: #229920;
}
.table>tbody>tr>td.status>span.status-locked {
  color: #FF6347;
}
.table>tbody>tr>td.status>span.status-draft {
  color: #FFA500;
}

.table>tbody>tr>td.status>span.status-pending {
  color: #4B0082;
}
.status-draft i {
  color: yellow;
}
.status-active i{
  color: green;
}
.status-locked i{
  color: red;
}
.status-pending i {
  color: purple;
}
