.voted span.status-voted {
  color: green;
}

div.feed-footer a {
  color: #6a5acd /*#BDB76B;*/
}
a span.like-icon, a span.like-count {
  color: #ff1493;
}

.feed-footer a.voted {
  color: green /*#ffa500;*/
}

#feed .card-footer.feed-footer {
  margin-left: 2em;
}
