/*!
 * Start Bootstrap - SB Admin Bootstrap Admin

/* Global Styles */
html {
  position: relative;
  min-height: 100%;
}
body {
    margin-top: 100px;
    margin-bottom: 60px;
    background-color: #fff;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;

}

@media(min-width:768px) {
    body {
        margin-top: 100px;
    }
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width: 768px) {
    #wrapper {
        padding-left: 25px;
    }

    #page-wrapper {
      padding: 12px;
    }
}
/* navbar */
nav {
  height: 62px;
}

.navbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: #307b99;
}
/* BRAND NAME */
.navbar .navbar-header > a, .navbar .navbar-header > a:hover {
  color: #fff;
}


  /* START OF Change the Navbar Colors/Font/Size */
  /* Adjust Menu (red) text color, (Garamond) font-family, (1.5em) font-size  */
  .navbar .nav > li > a, .navbar .nav > li > a,
  .navbar .nav > li.current-menu-item > a,
  .navbar .nav > li.current-menu-ancestor > a {
  display:        block;
  color:          #eee;
  }
  /* Adjust Menu colors - Normal */
  .navbar .nav > li > a, .navbar .nav > li > a {
  text-shadow:    none;
  }
  /* Adjust Menu colors - Hover */
  .navbar .nav > li > a:hover, .navbar .nav > li > a:hover {
  color:          lightgray;
  text-shadow:    none;
  }
  /* Adjust Menu colors - Active */
  .navbar .nav > li > a:active, .navbar .nav > li > a:active,
  .navbar .nav > li.current-menu-item > a,
  .navbar .nav > li.current-menu-ancestor > a,
  .navbar .nav > li.current-menu-item > a,
  .navbar .nav > li.current-menu-ancestor > a {
  color:          lightgray;
  text-shadow:    none;
  }
  /* Remove the Hover/Focus Colors  */
  .navbar .nav > li.current-menu-item > a, .navbar .nav > li.current-menu-ancestor > a,
  .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
    color:          #eee;
  }
  /* END OF Change the Navbar Colors/Font/Size */

  /* CHANGE THE COLORS FOR THE COLLAPSE BAR MENU */

  .navbar .navbar-collapse .nav > li > a, .navbar .navbar-collapse .nav > li > a,
  .navbar .navbar-collapse .nav > li.current-menu-item > a,
  .navbar .navbar-collapse .nav > li.current-menu-ancestor > a {
  display:        block;
  color:          #fff;
  }

  .navbar .navbar-collapse .nav {
    background-color: #307b99;
  }

  a.navbar-brand small em {
    font-size: 0.7em;
  }
@media(max-width:768px){
    .navbar .navbar-collapse .nav {
        float: right;
        width: 80%;
    }
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #307b99;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


/* Top Navigation */

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    white-space: normal;
    color: #fff;
}

.top-nav {
    padding: 0 15px;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
}

@media(min-width:768px){
    .top-nav>.open>.dropdown-menu {
        float: left;
        position: absolute;
        margin-top: 0;
        border: 1px solid rgba(0,0,0,.15);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #307b99;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .top-nav>.open>.dropdown-menu a:hover,
    .top-nav>.open>.dropdown-menu a:focus{
        background-color: #307bff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        white-space: normal;
        color: #fff;
    }

}

/*
 style the top navbar notification dropdown
*/
ul.dropdown-menu.dropdown-alerts {
    width: 350px;
    min-width: 0;
    height: auto;
    max-height: 410px;
    overflow-y: auto;
}
div.short-notification-container {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
}

div.short-notification-container li.short-messages {
  padding-left: 12px;
  padding-top: 5px;
  font-size: 1em;
}
div.short-notification-container li.short-messages.unseen-message {
  background-color: #eee;
}

ul.dropdown-menu.dropdown-alerts div.short-notification-container>li>a:hover {
  background-color: transparent;
}

a#mobile-notification-link {
  color: #307bff;
}

a.notification {
    position: relative;
}
a[data-notification]:after {
    content:attr(data-notification);

   position:absolute;
   top:0.12em;
   right:0.5em;
   font-size:.9em;
   font-weight: bold;
   color:white;
   width:1.5em;
   height:1.5em;
   text-align:center;
   line-height:1.5em;
   border-radius:50%;
   box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.35),
        0px 1px 1px rgba(0,0,0,.2);

   border:1px solid #ce4f5e;
   background-image: -webkit-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
   background-image: -moz-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
   background-image: -o-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
   background-image: -ms-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
   background-image: linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f78297', EndColorStr='#f46677');
}

/* end notification dropdown style */

/* Side Navigation */

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

/*.sidebar ul li a.active {
    background-color: #eee;
}*/
.sidebar ul li > .create-poll-btn:hover {
  background-color: #c9302c;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

/*
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

*/
/*
index page style
*/
#main-feeds {
  height: auto;
  overflow-y: auto;
}

.page-header h2 {
  color: #8B0000;
}
.index-headings {
  color: #000;
}
.vote {
  margin: 30px 0 20px 10px;
}
/* panel settings for index page */
.recent-polls {
  margin-top: 50px;
}

/* Panel for details page */
/* details page */
.details {
  margin-top: 30px;
}

.panel-details {
    border-width: 0 1px 0 0;
    border-color: #8B0000;
}

.panel-details > a {
    color: #5cb85c;
}

.panel-details > a:hover {
    color: #3d8b3d;
}

.panel-foot {
  margin: 80px 10px 10px 15px;
  padding-bottom: 40px;
}
.foot-nav > a {
  color: #8B0000;
}
/* Result page Analysis */
.poll-result {
  margin-top: 50px;
}
.panel-heading > .vote-count {
  font-size: 1.3em;
}
.huge2 {
    font-size: 30px;
}


/* User page styles */
.username {
  text-transform: uppercase;
}
.divide {
  margin-top: 10px;
}

.user-page-list {
  margin-top: 30px;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}


.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.panel-votes {
    border-color: #C71585;
}
.panel-votes > .panel-heading {
    border-color: #C71585;
    color: #fff;
    background-color: #C71585;
}
.panel-votes > a {
    color: #C71585;
}

.panel-votes > a:hover {
    color: #C71585;
}

.panel-comments {
    border-color: #BDB76B;
}
.panel-comments > .panel-heading {
    border-color: #BDB76B;
    color: #fff;
    background-color: #BDB76B;
}
.panel-comments > a {
    color: #BDB76B;
}

.panel-comments > a:hover {
    color: #BDB76B;
}

.graph {
  float: right;
  padding-bottom: 50px;
}


/* footer */
.footer {
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f9f9f9;
  border-top: 2px solid #e5e5e5;
}

.container .text-muted {
  margin: 20px 0;
}

.my-template {
  padding: 40px 15px;
  text-align: justify;;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/*.form-signin input[type="email"] {*/
/*  margin-bottom: -1px;*/
/*  border-bottom-right-radius: 0;*/
/*  border-bottom-left-radius: 0;*/
/*}*/
/*.form-signin input[type="password"] {*/
/*  margin-bottom: 10px;*/
/*  border-top-left-radius: 0;*/
/*  border-top-right-radius: 0;*/
/*}*/

/*.form-group input[name='username'] {*/
/*  max-width: 90px;*/
/*  margin-bottom: -1px;*/
/*  border-bottom-right-radius: 0;*/
/*  border-bottom-left-radius: 0;*/
/*}*/
/*.form-group input[type="password"] {*/
/*  max-width: 90px;*/
/*  margin-bottom: -1px;*/
/*  border-bottom-right-radius: 0;*/
/*  border-bottom-left-radius: 0;*/
/*}*/
.poll-details {
  max-width: 280px;
}
.poll-details .new-paragraph{
  margin-left: 50px;
}

p#alert {
  text-align: center;
}
/* features page */
.features {
  background-color:;
}
/* Question form page */
form p.show-button {
  margin: 0 0 20px 100px;
}
.hidden {
  display: none;
}
#suggested .suggested-polls {
  margin: 40px 10px 30px 0;
}
#suggested .suggest-button {
  margin-bottom: 50px;
}

#suggested .suggested-people {
  margin: 80px 10px 30px 0;
}

p#mytest {
  color: red;
}
@media (min-width:768px) {
  .social-login {
    max-width: 200px;
    position: fixed;
    left: 900px;
    top: 220px;
  }
}

.social-login>a {
  margin-left: 20px;
  margin-bottom: 10px;
}


img.help-image {
  margin: 2em 0 2em 5em;
}
ol.user-guide {
  list-style-type: upper-alpha;
}
ol.user-guide>li>ul>li {
  margin: 2em 3em;
}
.sidebar {
  padding: 15px;
  background-color: #f5f5f5;
}
p.return-link {
  position: sticky;
  bottom: 0;
  text-align: right;
}

.fb_ltr {width:450px!important}

.panel-primary .feed-footer {
  background-color: #191970;
  /*#191970*/
}
.feed-footer a {
  color: #fff;
}
.panel-yellow .feed-footer {
  background-color: #f0ad4e;
}

.panel-primary > .locked-color {
  background-color: #c9302c;
}

.panel-primary > .pending-color {
  background-color: #4B0082;
}

.panel-primary > .panel-body > .row > .question-feed form {
  margin-top: 1em;
}

.col-xs-3 .badge-count {
  color: #fff;
  background-color: #5cb85c;
}

#response-options, #duration {
  padding-left: 3em;
}

.table>tbody>tr>td.status>span.status-active {
  color: #229920;
}
.table>tbody>tr>td.status>span.status-locked {
  color: #FF6347;
}
.table>tbody>tr>td.status>span.status-draft {
  color: #FFA500;
}

.table>tbody>tr>td.status>span.status-pending {
  color: #4B0082;
}
span.status-draft {
  color: yellow;
}
span.status-active {
  color: green;
}
span.status-locked {
  color: red;
}
span.status-pending {
  color: purple;
}
h5.status-voted {
  color: seagreen;
}
.counterbox {
  font-size: 2.5em;
  color: #fff;
  background-color: #333;
  line-height: 150%;
  width: 100%;
  border-style:  none;
}
h5.countdown-title {
  text-align: center;
  color: blue;
}

.form-options form {
  padding: 20px;
}

div.notification-panel {
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 1.05);
}

#main-feed-box div.panel.panel-primary {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 3.05);
}

.panel-heading > a.instant-poll:hover, .panel-heading > a.special-poll:hover  {
  text-decoration: none;
}

.table-responsive ul.pager {
  text-align: left;
}

.question-list .panel-heading a {
  color: #fff;
}

.plus-button {
  width:1.5em;
  height:1.5em;
  text-align:center;
  line-height:1.5em;
  /* border-radius:50%; */
  box-shadow:
       inset 0px 1px 0px rgba(255,255,255,.35),
       0px 1px 1px rgba(0,0,0,.2);

  border:1px solid blue;
  /* background-image: -webkit-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119)); */
}
.error-message {
  font-size: 0.8em;
  color: #900;
}
.warning {
  color: #900;
  background: #ffc;
  padding: 5px;
}
/*
Add interface elements style
*/
.clickable {
  cursor: pointer;
}

.hover {
  text-decoration: underline;
}

/* add style to share poll container */
.share-with-friends {
  height: auto;
  max-height: 340px;
  overflow-y: auto;
}

/*
 style for creation of quiz - quiz_form_ajax.html
*/
.quiz-details {
  /* height: auto; */
  height: 400px;
  overflow-y: auto;
}
.choices-list {
  margin: 1.5em;
}

fieldset > h4 {
  background-color: #FF6347;
  color: #eee;
}
fieldset h5 {
  background-color: #3CB371;
  color: #eee;
}
 /* fieldset .section {
   margin: 1.5em;
 } */
 fieldset .section .item {
   margin: 1em;
   /* border: thin solid gray */
   /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 2.05); */
 }
input.add-question {
  margin-top: 20px;
}
