{% load staticfiles %}
{% load extra_tags %}
<!-- A single activity message -->
<div class="aggregated_feeds feed-post">
      {% if aggregated_activity.actor_count == 1 and aggregated_activity.object_ids|length >= 2 %}
          {% with aggregated_activity.last_activity as activity %}
                {% with following=activity.following target_obj=activity.action performer=activity.performer %}
                    {% if aggregated_activity.verb.id == 9 and following != None %}
                        <span><a class="action-performer" position="{{ forloop.counter }}"
                        user_name="{{ performer | escape }}"
                        href="{{performer.get_absolute_url}}">{{performer}}
                        </a>{{aggregated_activity.verb.singular}} <a href="{% url "polls:feeds" %}">
                          {{aggregated_activity.object_ids|length }} </a> people
                        <span><h6>
                            {{ aggregated_activity.updated_at|timesince }} ago</h6></span>
                        </span>
                    {% endif %}
                    {% if aggregated_activity.verb.id != 9 %}
                    <span><a class="action-performer" position="{{ forloop.counter }}"
                    user_name="{{ performer | escape }}"
                    href="{{performer.get_absolute_url}}">{{performer}}
                    </a> {{aggregated_activity.verb.past_tense}} {% if aggregated_activity.verb.id == 5 or aggregated_activity.verb.id == 2 %} on {% endif %}
                      <a href="{% url "polls:feeds" %}">
                        {{aggregated_activity.object_ids|length }}
                      </a> polls
                      <span><h6>
                        {{ aggregated_activity.updated_at|timesince }} ago</h6></span>
                    </span>
                    {% endif %}
                {% endwith %}
          {% endwith %}
      {% elif aggregated_activity.actor_count == 2 and aggregated_activity.object_ids|length == 1 %}
          {% with aggregated_activity.last_activity as activity %}
              {% with following=activity.following target_obj=activity.action performer=activity.performer1 performer2=activity.performer2 %}
                  {% if aggregated_activity.verb.id == 9 and following != None %}
                      <span><a class="action-performer" position="{{ forloop.counter }}"
                      user_name="{{ performer | escape }}" href="{{performer.get_absolute_url}}">{{performer}}</a>
                        and <a class="action-performer" position="{{ forloop.counter }}"
                        user_name="{{ performer2 | escape }}" href="{{performer2.get_absolute_url}}">
                        {{performer2}}</a>
                        <a href="{{following.to_friend.get_absolute_url}}">
                          {% if user == following.to_friend %}you {% else %} {{following.to_friend}} {% endif %}</a>
                        <span><h6>
                          {{ aggregated_activity.updated_at|timesince }} ago</h6></span>
                      </span>
                  {% endif %}
                  {% if aggregated_activity.verb.id != 9%}
                  <span><a class="action-performer" position="{{ forloop.counter }}"
                  user_name="{{ performer | escape }}" href="{{performer.get_absolute_url}}">{{performer}}</a>
                    and <a class="action-performer" position="{{ forloop.counter }}"
                    user_name="{{ performer2 | escape }}" href="{{performer2.get_absolute_url}}">
                    {{performer2}}</a> {{aggregated_activity.verb.past_tense}}
                    {% if aggregated_activity.verb.id == 5 or aggregated_activity.verb.id == 2 %} on {% endif %}
                    <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                    <span><h6>
                      {{ aggregated_activity.updated_at|timesince }} ago</h6></span>
                  </span>
                  {% endif %}
              {% endwith %}
          {% endwith %}
      {% elif aggregated_activity.actor_count > 2 and aggregated_activity.object_ids|length == 1 %}
          {% with aggregated_activity.last_activity as activity %}
              {% with following=activity.following target_obj=activity.action performer=activity.performer %}
                  {% if aggregated_activity.verb.id == 9 and following != None %}
                      <span><a class="action-performer" position="{{ forloop.counter }}"
                      user_name="{{ performer | escape }}" href="{{performer.get_absolute_url}}">{{performer}}</a>
                         and {{aggregated_activity.other_actor_count}}
                        others {{aggregated_activity.verb.plural}}
                        <a href="{{following.to_friend.get_absolute_url}}">
                          {% if user == following.to_friend %}you {% else %} {{following.to_friend}} {% endif %}</a>
                        <span><h6>
                          {{ aggregated_activity.updated_at|timesince }} ago</h6></span>
                      </span>
                  {% endif %}
                  {% if aggregated_activity.verb.id != 9%}
                      <span><a class="action-performer" position="{{ forloop.counter }}"
                      user_name="{{ performer | escape }}" href="{{performer.get_absolute_url}}">{{performer}}</a>
                         and {{aggregated_activity.other_actor_count}}
                        others {{aggregated_activity.verb.past_tense}}
                        {% if aggregated_activity.verb.id == 5 or aggregated_activity.verb.id == 2 %} on {% endif %}
                        <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                        <span><h6>
                          {{ aggregated_activity.updated_at|timesince }} ago</h6></span>
                      </span>
                  {% endif %}
              {% endwith %}
          {% endwith %}
      {% elif aggregated_activity.actor_count == 1 and aggregated_activity.object_ids|length == 1 %}
          {% with aggregated_activity.last_activity as activity %}
              {% with following=activity.following target_obj=activity.action performer=activity.performer %}
                  {% if aggregated_activity.verb.id == 9 and following != None %}
                      <span><a class="action-performer" position="{{ forloop.counter }}"
                      user_name="{{ performer | escape }}" href="{{performer.get_absolute_url}}">
                      {{performer}}</a> {{aggregated_activity.verb.singular}}
                      <a href="{{following.to_friend.get_absolute_url}}">
                          {% if user == following.to_friend %} you {% else %} {{following.to_friend}} {% endif %}</a>
                      <span><h6>
                        {{ aggregated_activity.updated_at|timesince }} ago</h6></span>
                      </span>
                  {% endif %}
                  {% if aggregated_activity.verb.id != 9 %}
                      <span><a class="action-performer" position="{{ forloop.counter }}"
                      user_name="{{ performer | escape }}" href="{{performer.get_absolute_url}}">
                      {{performer}}</a> {{aggregated_activity.verb.past_tense}}
                      {% if aggregated_activity.verb.id == 5 or aggregated_activity.verb.id == 2 %} on {% endif %}
                      <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                      <span><h6>
                      {{ aggregated_activity.updated_at|timesince }} ago</h6></span>
                      </span>
                  {% endif %}
              {% endwith %}
          {% endwith %}

      {% else %}
          {% for activity in aggregated_activity.last_activities %}
                {% with following=activity.following target_obj=activity.action performer=activity.performer %}
                {% myactors_count activity.performer_grp performer.id as performer_count %}
                  {% if forloop.last %}
                    {% for actor in activity.performers_obj_list %}
                      {% myactors_count activity.performer_grp actor.id as performer_count %}
                          {% if performer_count >= 2 %}
                              {% if aggregated_activity.verb.id != 9 %}
                                  <span><a class="action-performer" position="{{ forloop.counter }}"
                                  user_name="{{ actor | escape }}" href="{{actor.get_absolute_url}}">
                                  {{actor}}</a> {{aggregated_activity.verb.past_tense}}
                                  {% if aggregated_activity.verb.id == 5 or aggregated_activity.verb.id == 2 %} on {% endif %}
                                    <a href="{% url "polls:feeds" %}">
                                      {{performer_count }}
                                    </a> polls
                                    <span>
                                      <h6>{{ aggregated_activity.updated_at|timesince }} ago</h6></span>
                                  </span>
                              {% endif %}
                          {% endif %}
                    {% endfor %}
                  {% endif %}

                  {% if performer_count == 1 %}
                      {% if aggregated_activity.verb.id == 9 and following != None %}
                          <span><a class="action-performer" position="{{ forloop.counter }}"
                          user_name="{{ performer | escape }}" href="{{performer.get_absolute_url}}">
                          {{performer}}</a> {{aggregated_activity.verb.singular}}
                          <a href="{{following.to_friend.get_absolute_url}}">
                          {% if user == following.to_friend %} you {% else %} {{following.to_friend}} {% endif %}</a>
                            <span>
                              <h6>{{ aggregated_activity.updated_at|timesince }} ago</h6></span>
                          </span>
                      {% endif %}
                      {% if aggregated_activity.verb.id != 9 %}
                          <span><a class="action-performer" position="{{ forloop.counter }}"
                          user_name="{{ performer | escape }}" href="{{performer.get_absolute_url}}">
                          {{performer}}</a> {{aggregated_activity.verb.past_tense}}
                          {% if aggregated_activity.verb.id == 5 or aggregated_activity.verb.id == 2 %} on {% endif %}
                            <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                            <span><h6>{{ aggregated_activity.updated_at|timesince }} ago</h6></span>
                          </span>
                      {% endif%}
                  {% endif %}

                {% endwith %}
          {% endfor %}
      {% endif %}

</div>
