{% extends "polls/base.html" %}
{% load staticfiles %}
{% block title %} PollsPortal | Activity Feeds {% endblock %}
{% block head %}  What's happening {% endblock %}
{% block external %}
{% endblock %}
{% block content %}
<ul>
    {% for a in feed_actions %}
       <li>
          {% with following=a.following performer=a.actor target_obj=a.action profile=a.actor.profile %}
            <div class="action">
              <div class="info">
                  {% if a.verb.id == 9 and following != None %}
                      <span><a href="{{performer.get_absolute_url}}">{{performer}}</a>
                        {{a.verb.singular}} <a href="{{following.to_friend.get_absolute_url}}">
                          {% if user == following.to_friend %}you {% else %} {{following.to_friend}} {% endif %}</a>
                          <span><h6>{{ a.time|timesince }} ago</h6></span>
                      </span>
                  {% endif %}
                  {% if a.verb.id != 9 %}
                  <span><a href="{{performer.get_absolute_url}}">{{performer}}</a>
                    {{a.verb.past_tense}} {% if a.verb.id == 5 or a.verb.id == 2 %} on {% endif %}
                    <a href="{{target_obj.get_absolute_url}}">
                        {{target_obj }}</a><span><h6>
                      {{ a.time|timesince }} ago</h6></span>
                  </span>
                  {% endif %}

              </div>
            </div>
          {% endwith %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
