{% load staticfiles %}
{% load extra_tags %}
<script>
$(document).ready(function(){
    $('.short-messages div.notification-message').click(function(event){
      var action_ids = $(this).attr('data-action');
      var mark_read;
      if($(event.target).is('a.mark-as-read span em')){
        event.preventDefault();
        mark_read = 'True';
        var $msglist = $(this).parent().parent();
        var $divider_el = $msglist.next();
        $msglist.remove();
        $divider_el.remove();
      }else {
        mark_read = 'False';
      }
      $.ajax({
        type: "GET",
        url: '/polls/seen_activity/',
        data: {action_ids,
               mark_read,
               // csrfmiddlewaretoken:$('.short-notification-container input[name=csrfmiddlewaretoken]').val(),
             },
        success: function(response) {
          // if(response == 0){
          //   $('a.notification').removeAttr('data-notification');
          // }
        },
      });
    })
})
</script>
<div class='unseen-count' count="{{unseen_messages | safe }}"></div>
  {% if short_notification_messages %}
      {% for aggregated_message in short_notification_messages %}
      <li class="short-messages {% if not aggregated_message.is_seen %} unseen-message{% endif %}">
        <div class="capture-read">
        {% if aggregated_message.actor_count == 1 and aggregated_message.object_ids|length == 1 %}
            {% with aggregated_message.last_activity as activity %}
                  {% with following=activity.following target_obj=activity.action performer=activity.performer %}
                  <div class="notification-message"
                      data-action="{% activity_captured aggregated_message.activity_ids %}">
                      {% if aggregated_message.verb.id == 9 and following != None %}
                          <a href="{{performer.get_absolute_url}}"><strong>{{performer}} </strong></a>
                          {{aggregated_message.verb.singular}}
                          <a href="{{following.to_friend.get_absolute_url}}">
                              {% if user == following.to_friend %} you {% else %}
                              {{following.to_friend}} {% endif %}</a>
                            <h5><span class="since small">
                            {{ aggregated_message.updated_at|timesince }} ago</span>
                            <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                            </span></a>
                            </h5>
                      {% endif %}
                      {% if aggregated_message.verb.id != 9 %}
                        {% if aggregated_message.verb.id == 7 %}
                          {% if user == target_obj.owner %}
                            <a href="{{performer.get_absolute_url}}"><strong> {{performer}} </strong></a>
                            {{aggregated_message.verb}}s your poll <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                            <h5><span class="since small">
                            {{ aggregated_message.updated_at|timesince }} ago</span>
                            <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                            </span></a>
                            </h5>
                          {% else %}
                            <a href="{{performer.get_absolute_url}}"><strong> {{performer}} </strong></a>
                            invites you to vote on {% if performer == target_obj.owner %}
                            {% if performer.profile.gender == 'M'%} his {% elif performer.profile.gender == "F" %} her {% endif %}
                            new poll{% endif %}:
                            <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                            <h5><span class="since small">
                            {{ aggregated_message.updated_at|timesince }} ago</span>
                            <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                            </span></a>
                            </h5>
                          {% endif %}
                        {% else %}
                          <a href="{{performer.get_absolute_url}}"><strong> {{performer}} </strong></a>
                          {% if user != target_obj.owner %} also {% endif %}
                          {% if aggregated_message.verb.id == 5 or aggregated_message.verb.id == 2 %}
                          {{aggregated_message.verb.past_tense}} on {% else %} {{aggregated_message.verb}}s {% endif %}
                          {% if user != target_obj.owner %} {% if performer != target_obj.owner %}<a href="{{target_obj.owner.get_absolute_url}}">
                            <strong>{{target_obj.owner}}</strong>'s</a> poll:{% endif %}
                          {% else %} your poll: {% endif %} <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                          <h5><span class="since small">
                          {{ aggregated_message.updated_at|timesince }} ago</span>
                          <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                          </span></a>
                          </h5>
                        {% endif %}
                      {% endif %}
                  </div>
                  {% endwith %}
            {% endwith %}
        {% elif aggregated_message.actor_count == 2 and aggregated_message.object_ids|length == 1 %}
            {% with aggregated_message.last_activity as activity %}
                {% with following=activity.following target_obj=activity.action performer1=activity.performer1 performer2=activity.performer2 %}
                <div class="notification-message"
                    data-action="{% activity_captured aggregated_message.activity_ids %}">
                    {% if aggregated_message.verb.id == 9 and following != None %}
                        <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>
                          and <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a>
                        {{aggregated_message.verb.plural}}
                        <a href="{{following.to_friend.get_absolute_url}}">
                            {% if user == following.to_friend %} you {% else %}
                            {{following.to_friend}} {% endif %}</a>
                          <h5><span class="since small">
                          {{ aggregated_message.updated_at|timesince }} ago</span>
                          <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                          </span></a>
                          </h5>
                    {% endif %}
                    {% if aggregated_message.verb.id != 9 %}
                      {% if aggregated_message.verb.id == 7 %}
                        {% if user == target_obj.owner %}
                          <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>
                          and <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a>
                          {{aggregated_message.verb}} your poll: <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                          <h5><span class="since small">
                          {{ aggregated_message.updated_at|timesince }} ago</span>
                          <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                          </span></a>
                          </h5>
                        {% else %}
                          <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>
                          and <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a>
                          invite you to vote on <a href="{{target_obj.owner.get_absolute_url}}">
                          <strong>{{target_obj.owner}}</strong>'s</a> poll:
                          <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                          <h5><span class="since small">
                          {{ aggregated_message.updated_at|timesince }} ago</span>
                          <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                          </span></a>
                          </h5>
                        {% endif %}
                      {% else %}
                        <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>
                          and <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a>
                          {% if user != target_obj.owner %} also {% endif %}
                          {% if aggregated_message.verb.id == 5 or aggregated_message.verb.id == 2 %}
                          {{aggregated_message.verb.past_tense}} on {% else %} {{aggregated_message.verb}} {% endif %}
                          {% if user != target_obj.owner %} <a href="{{target_obj.owner.get_absolute_url}}">
                            <strong>{{target_obj.owner}}</strong>'s</a>
                          {% else %} your {% endif %} poll:  <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                          <h5><span class="since small">
                          {{ aggregated_message.updated_at|timesince }} ago</span>
                          <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                          </span></a>
                          </h5>
                      {% endif %}
                    {% endif %}
                </div>
                {% endwith %}
            {% endwith %}
        {% elif aggregated_message.actor_count == 3 and aggregated_message.object_ids|length == 1 %}
            {% with aggregated_message.last_activity as activity %}
                {% with following=activity.following target_obj=activity.action performer1=activity.performer1 performer2=activity.performer2 performer3=activity.performer3 %}
                <div class="notification-message"
                    data-action="{% activity_captured aggregated_message.activity_ids %}">
                    {% if aggregated_message.verb.id == 9 and following != None %}
                      <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>,
                        <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a> and
                        <a href="{{performer3.get_absolute_url}}"><strong>{{performer3}}</strong></a>
                        {{aggregated_message.verb.plural}}
                        <a href="{{following.to_friend.get_absolute_url}}">
                            {% if user == following.to_friend %} you {% else %}
                            {{following.to_friend}} {% endif %}</a>
                        <h5><span class="since small">
                        {{ aggregated_message.updated_at|timesince }} ago</span>
                        <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                        </span></a>
                        </h5>
                    {% endif %}
                    {% if aggregated_message.verb.id != 9 %}
                      {% if aggregated_message.verb.id == 7 %}
                        {% if user == target_obj.owner %}
                          <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>,
                          <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a> and
                          <a href="{{performer3.get_absolute_url}}"><strong>{{performer3}}</strong></a>
                          {{aggregated_message.verb}} your poll: <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                          <h5><span class="since small">
                          {{ aggregated_message.updated_at|timesince }} ago</span>
                          <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                          </span></a>
                          </h5>
                        {% else %}
                          <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>,
                          <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a> and
                          <a href="{{performer3.get_absolute_url}}"><strong>{{performer3}}</strong></a>
                          invite you to vote on <a href="{{target_obj.owner.get_absolute_url}}">
                          <strong>{{target_obj.owner}}</strong>'s</a> poll:
                          <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                          <h5><span class="since small">
                          {{ aggregated_message.updated_at|timesince }} ago</span>
                          <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                          </span></a>
                          </h5>
                        {% endif %}
                      {% else %}
                        <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>,
                          <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a> and
                          <a href="{{performer3.get_absolute_url}}"><strong>{{performer3}}</strong></a>
                          {% if user != target_obj.owner %} also {% endif %}
                          {% if aggregated_message.verb.id == 5 or aggregated_message.verb.id == 2 %}
                          {{aggregated_message.verb.past_tense}} on {% else %} {{aggregated_message.verb}} {% endif %}
                          {% if user != target_obj.owner %} <a href="{{target_obj.owner.get_absolute_url}}">
                            <strong>{{target_obj.owner}}</strong>'s</a>
                          {% else %} your {% endif %} poll:  <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                          <h5><span class="since small">
                          {{ aggregated_message.updated_at|timesince }} ago</span>
                          <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                          </span></a>
                          </h5>
                      {% endif %}
                    {% endif %}
                </div>
                {% endwith %}
            {% endwith %}
        {% else %}
            {% with aggregated_message.last_activity as activity %}
                  {% with following=activity.following target_obj=activity.action performer1=activity.performer1 performer2=activity.performer2 %}
                  <div class="notification-message"
                      data-action="{% activity_captured aggregated_message.activity_ids %}">
                    {% if aggregated_message.verb.id == 9 and following != None %}
                      <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>,
                        <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a> and
                        <a href="{{performer3.get_absolute_url}}">{{aggregated_message.other_actor_count|subtract:'1' }}</a>
                        {{aggregated_message.verb.plural}}
                        <a href="{{following.to_friend.get_absolute_url}}">
                            {% if user == following.to_friend %} you {% else %}
                            {{following.to_friend}} {% endif %}</a>
                        <h5><span class="since small">
                        {{ aggregated_message.updated_at|timesince }} ago</span>
                        <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                        </span></a>
                        </h5>
                    {% endif %}
                    {% if aggregated_message.verb.id != 9 %}
                      {% if aggregated_message.verb.id == 7 %}
                        {% if user == target_obj.owner %}
                          <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>,
                          <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a> and
                          <a href="{{performer3.get_absolute_url}}">{{aggregated_message.other_actor_count|subtract:'1' }}</a>
                          {{aggregated_message.verb}} your poll: <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                          <h5><span class="since small">
                          {{ aggregated_message.updated_at|timesince }} ago</span>
                          <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                          </span></a>
                          </h5>
                        {% else %}
                          <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>,
                          <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a> and
                          <a href="{{performer3.get_absolute_url}}">{{aggregated_message.other_actor_count|subtract:'1' }}</a>
                          invite you to vote on <a href="{{target_obj.owner.get_absolute_url}}">
                          <strong>{{target_obj.owner}}</strong>'s</a> poll:
                          <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                          <h5><span class="since small">
                          {{ aggregated_message.updated_at|timesince }} ago</span>
                          <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                          </span></a>
                          </h5>
                        {% endif %}
                      {% else %}
                        <a href="{{performer1.get_absolute_url}}"><strong>{{performer1}}</strong></a>,
                        <a href="{{performer2.get_absolute_url}}"><strong>{{performer2}}</strong></a> and
                        <a href="{{performer3.get_absolute_url}}">{{aggregated_message.other_actor_count|subtract:'1' }}</a>
                        {% if user != target_obj.owner %} also {% endif %}
                        {% if aggregated_message.verb.id == 5 or aggregated_message.verb.id == 2 %}
                        {{aggregated_message.verb.past_tense}} on {% else %} {{aggregated_message.verb}} {% endif %}
                        {% if user != target_obj.owner %} <a href="{{target_obj.owner.get_absolute_url}}">
                          <strong>{{target_obj.owner}}</strong>'s</a>
                        {% else %} your {% endif %} poll:  <a href="{{target_obj.get_absolute_url}}">{{target_obj}}</a>
                        <h5><span class="since small">
                        {{ aggregated_message.updated_at|timesince }} ago</span>
                        <a class="mark-as-read" href="#"><span class="small pull-right"><em>mark as read</em>
                        </span></a>
                        </h5>
                      {% endif %}
                    {% endif %}
                  </div>
                  {% endwith %}
            {% endwith %}
        {% endif %}
        </div>
      </li>
      <li class="divider"></li>
      {% endfor %}
      <li>
          <a class="text-center" href="{% url "polls:notification" %}">
              <strong>See All Alerts</strong>
              <i class="fa fa-angle-right"></i>
          </a>
      </li>
  {% else %}
      <li class='no-messages'>No messages</li>
  {% endif %}
