{% extends "polls/base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<h1>Edit your profile</h1>
<p>You can edit your account using the following form:</p>
<form action="." method="post" enctype="multipart/form-data">
  {{ user_form.as_p }}
  {{ profile_form.as_p }}
  {% csrf_token %}
  <p><input type="submit" value="Save changes"></p>
</form>
{% endblock %}
