{% load staticfiles %}
<script src="{% static 'polls/js/groups.js' %}"></script>
<script src="{% static 'polls/js/questionForm.js' %}"></script>

  <div class="card-block">
    <div class="card-title">
      <h3>Group Management</h3>
    </div>
    <div class="card-body">
      {% if group_form %}
        <form id="create-group" class="form-vertical" method="post" action="{% url "account:create_group" %}">
          {% csrf_token %}
          {% for field in group_form %}
          <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            <div class="fieldwrapper">
              {{ field }}
              <span><input class="btn" type="submit" name="submit" value="create group"></span>
            </div>
          </div>
          {% endfor %}
        </form>
      {% endif %}
      {% if groups %}
      <h5>Groups I created</h5>
      <div id="groups-created" class="list-group">
        {% for group in groups %}
          <div class="list-group-item">
            <h4>{{group}}
              <span class="pull-right"><a id="{{group.id}}" group_name="{{group.group_name}}"
                class="get-members" href="{% url 'account:group_members' %}"> members
                </a><span class="label label-info">{{group.members.count}}</span></span>
            </h4>
            <a csrf="{{csrf_token }}" group_name="{{group.group_name}}" class="add-new-member" href="{% url "account:friends_list" %}">Add a member</a> |
            <a group_name="{{group.group_name}}" class="clickable delete-group"> delete</a>
          </div>
        {% endfor %}
      </div>
      {% else %}
        You have no group yet
      {% endif %}
    </div>
  </div>

  <div class="card-block">
    <div class="card-title">
      <h5>Groups I belong</h5>
    </div>
    <div class="card-body">
      {% if groups_belong %}
      <div id="groups-belong" class="list-group">
        {% for group in groups_belong %}
          <div class="list-group-item">
            <h4>{{group}}
              <span class="pull-right"><h5>members </h5><span class="badge">{{group.members.count}}</span></span>
            </h4>
            <h6 group_name="{{group.group_name}}" class="clickable remove-member">Delete my membership
            </h6>
          </div>
        {% endfor %}
      </div>
      {% else %}
        You belong to no group yet
      {% endif %}
    </div>
  </div>
