{% load staticfiles %}

{% for group in groups %}
  <div class="list-group-item">
    <h4>{{group}}
      <span class="pull-right"><a id="{{group.id}}" group_name="{{group.group_name}}"
        class="get-members" href="{% url 'account:group_members' %}"> members
        </a><span class="badge">{{group.members.count}}</span></span>
    </h4>
    <a csrf="{{csrf_token }}" group_name="{{group.group_name}}" class="add-new-member" href="{% url "account:friends_list" %}">Add a member</a> |
    <a group_name="{{group.group_name}}" class="clickable delete-group"> delete</a>
  </div>
{% endfor %}
