<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@pollsportal1" />
    <meta name="twitter:creator" content="@pollsportal1" />
    <meta name="twitter:image" content= "http://res.cloudinary.com/pollsportal/image/upload/v1472151808/social-campaign/survey-159.jpg"/>
    <meta name="twitter:title" content="PollsPortal || Question" />
    <meta property="fb:app_id"     content='389801957856926' />
    <meta property="og:url"  content= "https://www.pollsportal.com/polls/{{question.id}}/{{question.slug}}/" />
    <meta property="og:description"  content= "{{question.question_text}}" />
    <meta property="og:site_name"  content="PollsPortal" />
    <meta property="og:image"      content="http://res.cloudinary.com/pollsportal/image/upload/v1472151808/social-campaign/survey-159.jpg"/>
    <meta property="og:image:width" content="200"/>
    <meta property="og:image:height" content="200"/>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '272374383691304',
          cookie     : true,
          xfbml      : true,
          version    : 'v3.2'
        });

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
    </script>

    <title>PollsPortal |
      {% block title %}{% endblock %}</title>
      <!-- bootstrap core css used -->
      <link rel="shortcut icon" href="{% static 'polls/imgs/favicon.ico' %}" type="image/x-icon" />
      <link rel="stylesheet" type="text/css"
        href="{% static 'polls/css/bootstrap.min.css' %}" media="screen" />
      {% block coverstyle %}
        <!-- Custom styles for this template -->
      <link href="{% static 'polls/css/base.css' %}" rel="stylesheet" type="text/css">
      {% endblock coverstyle %}
      <!-- custom fonts using awesome font -->
      <link href="{% static 'polls/bootstrap/dist/font-awesome/css/font-awesome.min.css' %}"
        rel="stylesheet" type="text/css">
      <!-- MetisMenu CSS -->
      <link href="{% static 'polls/metisMenu/dist/metisMenu.min.css' %}"
        rel="stylesheet" type="text/css"/>
        <!-- DataTables CSS -->
      <link href="{% static 'polls/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}"
        rel="stylesheet">

      <!-- DataTables Responsive CSS -->
      <link href="{% static 'polls/bower_components/datatables-responsive/css/responsive.dataTables.scss' %}"
        rel="stylesheet">
      <!--Include this css & js files for fancy messagebox and Notification -->
      <link rel="stylesheet" href="{% static 'polls/css/lobibox.min.css' %}"/>

      <script src="{% static "polls/js/jquery.js" %}"></script>
      <script src="{% static "polls/js/jquery.form.js" %}"></script>
      <script src="{% static "polls/js/jquery.cookie.min.js" %}"></script>
      <!-- Notification plugins -->
      <script type="text/javascript" src="{% static 'polls/js/lobibox.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'polls/js/messageboxes.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'polls/js/lobibox-notifications.min.js' %}"></script>
      <!-- Chart -->
      <script src="{% static 'polls/js/chart.min.js' %}"></script>
      <script type="text/javascript" src="{% static '/channels/js/websocketbridge.js' %}"></script>
      <!-- jquery time counter -->
      <script type="text/javascript" src="{% static 'polls/js/jquery.countdown.min.js' %}"></script>
      <!-- reload Notification div asynchronously -->
      <script src="{% static "polls/js/notification.js" %}"></script>
      {% block external %}{% endblock %}
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      function sendInvite() {
      FB.ui({
        display: 'popup',
        method: 'send',
        link: "https://www.pollsportal.com/account/register",
        redirect_uri: 'https://www.pollsportal.com/',
      }, function(response){});
    }
    </script>
    {% block body %}
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                <span class="sr-only">Navigation</span>
                <span class="new-messages badge"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          </div>
          <button id="create-poll" class="btn btn-default pull-right visible-xs-block">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            poll
          </button>


          <div id="nav-menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" role="tablist">
              <li class="active"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true">
                </span> Home</a></li>
              {% if user.is_authenticated %}
              <li>
                <a href="{% url "polls:dashboard" user.username %}">dashboard</a>
              </li>
                <li>
                    <a href="{% url 'polls:save_page' user.username %}">create poll</a>
                </li>

                <li class="dropdown hidden-xs" role="navigation">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">invite friends<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url "polls:friend_invite" %}">by email</a></li>
                    <li class="visible-lg"><a href="#" onclick="sendInvite()">facebook friends</a></li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" href="#">
                    <span class="new-messages badge"></span>
                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                    Notifications
                  </a>
                  <ul id="notification-list" class="dropdown-menu dropdown-alerts">
                    <!-- insert messages into li.notify -->
                     <li class="notify">
                     </li>

                  </ul>
                  <!-- /.dropdown-alerts -->
                </li>
                <li class="visible-xs">
                  <a href="{% url "account:edit_profile" %}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Profile</a></li>
                <li class="visible-xs"><a href="{% url 'account:logout' %}">
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                  Logout</a></li>
              {% endif %}
            </ul>
            <button id="create-poll" class="btn btn-default pull-right hidden-xs">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              poll
            </button>
            {% if user.is_authenticated %}
            <div id="nav-options" class="btn-group pull-right hidden-xs">
              <button type="button" class="btn btn-default dropdown-toggle
            thumbnail" data-toggle="dropdown" aria-haspopup="true" ariaexpanded="false">
                <img src="{% static 'polls/imgs/imageholder.png' %}">
              </button>
              <ul class="dropdown-menu">
                <li><a href="{% url "account:edit_profile" %}">Profile</a></li>
                <li><a href="{% url "account:account_settings" %}">Setting</a></li>
                {% if user.is_superuser %}
                <li role="separator" class="divider"></li>
                <li><a href="/admin/login">Admin portal</a></li>

                <li><a href="{% url "polls:personalmail" %}">send a mail</a></li>
                <li><a href="{% url "polls:sendmail" %}">send bulk mails</a></li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'account:logout' %}">Logout</a></li>
              </ul>
            </div>
            {% endif %}
            <form id="search" role="search" method="get" class="hidden-sm hidden-xs"
              action="{% url 'polls:search' %}">{% csrf_token %}
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="glyphicon glyphicon-search" aria-hidden="true">
                </span>
              </div>
            </form>

          </div><!--/ .nav-collapse -->
        </div>
      </nav>

      <div class="container">
          <h1>{% block head %}{% endblock %}</h1>
          {% if messages %}
            <div class="alert alert-dismissable" role='alert'>
              <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">&times;</button>
              <ul class="messages">
                {% for message in messages %}
                  <li class="alert alert-{{message.tags}} alert-dismissable">
                    {{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <div class="modal" id="ajax-loading-image" style="display: none">
            <div class="model-body center">
                <img alt="" src="{% static "polls/images/ajax-loader.gif" %}" />
            </div>
          </div>


          {% block content %}{% endblock %}

      </div>


  {% endblock body %}

  <div class="clearfix visible-sm visible-md visible-lg"></div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted"><span>
Copyright &copy;<script>document.write(new Date().getFullYear());</script>Dayma. All rights reserved </a></span>
        <a href="{% url 'terms' %}">
      Terms of Service</a> | <a href="{% url 'privacy' %}"/>Privacy Policy</a> |
        <a href="{% url 'feedback' %}">send us a message</a> |
        <a href="{% url 'help' %}">help/guide</a></p>
    </div>
  </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      var nameUser = $('#id_user em').text();
      var namevalue = encodeURIComponent(nameUser);

      ga('create', 'UA-80275601-1', 'auto');
      ga('send', 'pageview');
      ga('set', 'userid', namevalue);

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script> -->
    <script>window.jQuery || document.write('<script src="{% static "polls/bootstrap/assets/js/vendor/jquery.min.js" %}><\/script>')</script>

    <script src=" https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
    <script>
      var csrftoken = $.cookie('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      })
    </script>
    <script src = "{% static 'polls/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'polls/metisMenu/dist/metisMenu.min.js' %}"></script>
    <!-- jquery datepicker -->
    <script type="text/javascript"
      src="{% static 'polls/js/bootstrap-datetimepicker.min.js' %}"></script>
    <!-- DataTables JavaScript -->
    <script src="{% static 'polls/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'polls/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>
    <!-- pie chart plugin -->
    <script src="{% static 'polls/js/jquery.easypiechart.min.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
  </body>
</html>
