{% extends "polls/base.html" %}
{% block title %}Send mail{% endblock %}
{% block head %}<div class="page-header">Bulk email</div>{% endblock %}
{% block content %}

<form method="post" action=".">
  {{ form.as_p }}
  {% csrf_token %}
  <input class="btn btn-success" type="submit" value="send message" />
</form>
{% endblock %}
