{% load staticfiles %}
{% if question %}
    <div>
      <h3>
        {{question.question_text}}
      </h3>
    </div>
    <div>
      <div class="fb-comments" data-href="https://www.pollsportal.com/polls/{{ question.id }}/{{question.slug}}/results" data-width="380" data-numposts="5"></div>
    </div>
    {% with question.comments.count as total_comments %}
      <h4>{{ total_comments }} comment{{total_comments|pluralize}}</h4>
    {% endwith %}
    {% for comment in question.comments.all %}
    <div class='comment'>
      <p class="info"><em>
        <strong>{{ comment.name }}</strong> on
        {{ comment.created }}</em>
      </p>
      {{ comment.body|linebreaks }}
    </div>
    {% empty %}
      <p>There are no comment yet for this poll.</p>
    {% endfor %}
    {% if new_comment %}
      <h3>Your comment has been added.</h3>
    {% else %}

      <div class="pull-right">
        <a class="question-link" href="{% url "polls:detail2" question.id %}">back</a>
      </div>
      <div class="form-group comment-box">
        <form action="{% url "polls:comments" question.id %}" method="post">
          <!-- <p><label for ="id_body">comment:</label></p> -->
          <p><textarea class="form-control" cols ="30" id="id_body" name="body" rows="2"></textarea></p>
          {% csrf_token %}
          <p><input id="submitcomment" questionid={{question.id}} class="btn btn-primary" type='submit' value="Add comment"></p>
        </form>
      </div><!-- comment-box -->
    {% endif %}
{% endif %}
