{% extends 'polls/base.html' %}
{% load staticfiles %}
{% load extra_tags %}
{% block title %}{{username}}{% endblock %}
{% block coverstyle %}
  <link rel="stylesheet" href="{% static "polls/css/dashboard.css" %}">
{% endblock coverstyle %}
{% block external %}
  <script type="text/javascript" src="{% static 'polls/js/dashboard.js' %}"></script>
{% endblock %}

{% block body %}
<div class="loading">
</div>
<div id="ajax-loading-image" style="display: none">
  <img alt="" src="{% static 'polls/imgs/loading.svg' %}"/>
</div>
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 top-left-menu">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <h1>Dashboard</h1>
          </a>
          <button type="button" class="navbar-toggle collapsed"
data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <a href="#" id="search-icon" data-toggle="tooltip" data-placement="bottom" data-delay="500" title="Display search bar"
           class="header-buttons pull-right visible-xs">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </a>
      <a href="#" data-toggle="tooltip" data-placement="bottom"
data-delay="500" title="Refresh data" class="header-button pullright">
        <span class="glyphicon glyphicon-repeat" ariahidden="true"> </span>
      </a>
    </div>
    <form id="search" role="search" class="col-sm-3">
      <div class="input-group">
        <span class="glyphicon glyphicon-search" aria-
hidden="true"></span>
        <input type="text" class="form-control transition"
placeholder="Search...">
      </div>
    </form>

      <div id="nav-menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true">
            </span> Home</a>
          </li>
          <li>
            <div id="btn-notifications" class="btn-group">
              <button type="button" class="btn btn-link dropdown-toggle thumbnail"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notifications
                <span class="new-messages badge"></span>
              </button>
              <ul id="notification-list" class="dropdown-menu dropdown-alerts">
                <!-- insert messages -->

              </ul>
            </div>
          </li>
          <li class="visible-xs">
            <a href="#d">Assessments/Tests</a>
          </li>
          <li class="visible-xs">
            <a href="#f">Surveys <small>coming soon</small></a>
          </li>
          <li class="visible-xs">
            <a href="#f">Questionnaires <small>coming soon</small></a>
          </li>
          <li class="visible-xs">
            <a class="view-groups" href="#real-time" url="{% url 'account:mygroups' %}">Groups</a>
          </li>

          <li class="visible-xs"><a href="{% url "account:edit_profile" %}">Profile</a></li>
          <li class="visible-xs"><a href="{% url "account:account_settings" %}">Setting</a></li>
          {% if user.is_superuser %}
          <li role="separator" class="divider"></li>
          <li class="visible-xs"><a href="/admin/login">Admin portal</a></li>

          <li class="visible-xs"><a href="{% url "polls:personalmail" %}">send a mail</a></li>
          <li class="visible-xs"><a href="{% url "polls:sendmail" %}">send bulk mails</a></li>
          {% endif %}
          <li role="separator" class="divider"></li>
          <li class="visible-xs"><a href="{% url 'account:logout' %}">Logout</a></li>
        </ul>

        <div id="nav-profile" class="btn-group pull-right hidden-xs">
          <button type="button" class="btn btn-link dropdown-toggle
      thumbnail" data-toggle="dropdown" aria-haspopup="true" ariaexpanded="false">
            <img src="{% static 'polls/imgs/imageholder.png' %}" class="img-circle">
          </button>
          <ul class="dropdown-menu">
            <li><a href="{% url "account:edit_profile" %}">Profile</a></li>
            <li><a href="{% url "account:account_settings" %}">Setting</a></li>
            {% if user.is_superuser %}
            <li role="separator" class="divider"></li>
            <li><a href="/admin/login">Admin portal</a></li>

            <li><a href="{% url "polls:personalmail" %}">send a mail</a></li>
            <li><a href="{% url "polls:sendmail" %}">send bulk mails</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li class=""><a href="{% url 'account:logout' %}">Logout</a></li>
          </ul>
        </div>

      </div>
  </div>
</div>
</nav>

<!-- content area -->
<div class="container-fluid">
  <div class="row">
    <div id="side-menu" class="col-sm-3 hidden-xs" data-spy="affix"
data-offset-top="0">
      <div class="profile-block">
        <img src="{% static 'polls/imgs/imageholder.png' %}" class="img-circle">
        <h4 class="profile-title">{{user.username}}
        <small></small></h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="" class="transition">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            Overview
          </a>
        </li>
        <li>
          <a href="#all-polls-table" class="transition">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
            My polls
          </a>
        </li>
        <li>
          <a href="#finances-opts" class="transition" role="button"
data-toggle="collapse" aria-expanded="false" aria-controls="financesopts">
            <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
            Quiz
            <span class="glyphicon glyphicon-menu-left pull-right
      transition" aria-hidden="true"></span>
          </a>
          <ul class="collapse list-unstyled" id="finances-opts">
            <li>
              <a href="#" class="transition">
                Assessments/Tests
              </a>
            </li>
            <li>
              <a  class="transition">
                Surveys <small>coming soon</small>
              </a>
            </li>
            <li>
              <a class="transition">
                Questionnaires <small>coming soon</small>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="view-groups-friends transition" href="#real-time"
            url="{% url 'account:mygroups' %}" data-action="view-groups">
            <span class="fa fa-group" aria-hidden="true"></span>
            Groups
          </a>
        </li>
        <li class="nav-divider"></li>
        <li>
          <a href="#projects-opts" class="transition" role="button"
data-toggle="collapse" aria-expanded="false" aria-controls="projectsopts">
            <span class="glyphicon glyphicon-briefcase" aria-
      hidden="true"></span>
            Results
            <span class="glyphicon glyphicon-menu-left pull-right
      transition" aria-hidden="true"></span>
          </a>
          <ul class="collapse list-unstyled" id="projects-opts">
            <li>
              <a href="#" class="transition">
                Download Csv
              </a>
            </li>
            <li>
              <a href="#" class="transition">
                Download pdf
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="main" class="col-sm-offset-3 col-sm-9">
      {% if messages %}
      <div class="alert alert-success col-sm-12" role="alert">
        <button type="button" class="close" data-dismiss="alert" arialabel="Close">
          <span aria-hidden="true">&times;</span></button>
            {% for message in messages %}
              <h3 class="alert alert-{{message.tags}} alert-dismissable">
                {{ message }}</h3>
            {% endfor %}
        <a href="#" class="alert-link"></a>
      </div>
      {% endif %}
      <div class="card" id="pie-charts">
        <div class="card-block">
          <h2>My Overall Analysis</h2>
          <div class="round-chart" data-percent="{{vote_percent}}">
            <span>
              {{vote_percent}}
              <small>
                % <br>
                of total votes
              </small>
            </span>
          </div>
          <div class="round-chart" data-percent="{{poll_percent}}">
            <span>
              {{poll_percent}}
              <small>
                % <br>
                of all polls
              </small>
            </span>
          </div>

        </div>
      </div>

      <div class="card" id="quick-info">
        <div class="card-block">
          <h2>My Poll Stats</h2>
          <div class="quick-stats">
            <strong>Today</strong>
            <span>{{today_poll.count}}</span>
          </div>
          <div class="quick-stats">
            <strong>Last 7 days</strong>
            <span>{{last_seven_days_poll}}</span>
          </div>
          <div class="quick-stats">
            <strong>Last 30 days</strong>
            <span>{{last_30_days_poll.count}}</span>
          </div>
          <div class="quick-stats">
            <strong>All time</strong>
            <span>{{polls.count}}</span>
          </div>
        </div>
      </div>
      <div class="card" id="real-time">
        <div class="card-block">
        <h2>Real time</h2>
        <ul class="list-unstyled">
          <li>
            Active polls:
            <span class="label label-success pull-right">{{active_single_polls}}
            </span>
          </li>
          <li>
            Pending polls:
            <span class="label label-danger badge ok pull-right">
              {{total_pending_polls}}
            </span>
          </li>
          <li class="view-groups-friends transition clickable"
            url="{% url 'polls:friends' user.username %}" data-action="view-friends">
            My Friends:
            <span class="label label-danger pull-right">{{total_friends}}</span>
          </li>
          <li class="view-groups-friends transition clickable"
            url="{% url 'account:mygroups' %}" data-action="view-groups">
            Groups:
            <span class="label label-info pull-right">{{total_groups}}</span>
          </li>
        </ul>
        </div>
        <div id="group-section" class="card"></div>
      </div><!-- real-time-->
      <div class="card" id="daily-usage">
        <div class="card-block">
          <h2>Activity Report for {{this_month}} {{year}} <span class="small">({{username}})</span></h2>
          <div id="area-chart" data-url="{{chart_url}}"></div>
        </div>
      </div><!-- daily-usage -->
      <div class="card hidden-xs">
        <div class="card-block">
          <div class="table-responsive dataTable_wrapper">
            <div class="h3">Settings Table <small>customize your polls</small></div>
            <table id="all-polls-table"
                class="table table-striped table-bordered table-hover sortable paginated">
              <thead>
                <tr>
                  <th class="">Status</th>
                  <th class="sort-alpha">Question</th>
                  <th class="sort-numeric">Votes</th>
                  <th class="">Comments</th>
                  <th class=''>Likes</th>
                  <th class="">Remove<br>poll</th>
                </tr>
              </thead>
              <tbody>
                {% for poll in polls %}
                  {% if poll.poll_type == 'Opinion' %}
                    {% with poll.single_poll as question %}
                      {% if not question.suspended %}
                        <tr>
                          <td class="status">

                                <div class="hidden" id="question-settings-parameters{{question.id}}"
                                  responder="{{question.pollsettings.who_can_respond }}"
                                  duration="{{question.pollsettings.duration}}"
                                  quota="{{question.pollsettings.votes_quota}}"
                                  enddate="{{question.pollsettings.end_date}}"
                                  startdate="{{question.pollsettings.start_date}}"
                                  begin="{{question.pollsettings.begin_when}}"
                                  present="{{question.pollsettings.presentation}}">
                                </div>

                            {% if question.get_status == 'Draft' %}
                              <span class="status-draft"><i class="fa fa-file-o" style="{'color':'#765'}"></i>
                                {{question.get_status}}
                              </span>
                            {% elif question.get_status == 'Active' %}
                              <span class="status-active"><i class="fa fa-check-circle"></i>
                                {{question.get_status}}
                                </span>
                            {% elif question.get_status == 'Closed' %}
                              <span class="status-locked"><i class="fa fa-lock"></i>
                                {{question.get_status}}
                                </span>
                            {% elif question.get_status == 'Suspended' %}
                              <span class="status-suspend"><i class="fa fa-times"></i>
                                </span>{{question.get_status}}
                            {% elif question.get_status == 'Pending' %}
                              <span class="status-pending"><i class="fa fa-unlock"></i>
                                {{question.get_status}}
                                </span>
                            {% endif %}
                          </td>
                          <td>
                            {% if question.owner == user %}
                              {% if question.get_status == 'Active' %}
                                <a href="{% url 'polls:detail' question.id question.slug %}">
                                  {{question.question_text}}</a>
                              {% else %}
                                <a id="q1" class="custom-settings" href="{% url "polls:questionsettings" question.id question.poll_type %}" questionid={{question.id}}
                                countloop={{forloop.counter}} status={{question.get_status}}>
                                {{question}}</a>
                              {% endif %}
                            {% else %}
                              <a href="{% url "polls:detail" question.id question.slug %}">
                                {{question.question_text}}</a>
                            {% endif %}
                          </td>

                          <td>{{question.total_votes}}</td>
                          <td>{{ question.comments.all.count }}</td>
                          <td>{{question.total_likes}}</td>
                          <td id="qID" questionid={{question.id}} countloop={{forloop.counter}}>
                            <span>
                              {% if question.get_status != 'Active' %}
                                <a id="remove-poll" csrf="{{ csrf_token}}" questionid="{{question.id}}"
                                  data-action="delete" poll-type="{{quiz.poll_type}}" href="#">
                                  <i class="fa fa-trash-o"></i>
                                </a>
                                    |
                                    <a class='edit' questionid="{{question.id}}"
                                      href="{% url "polls:save_page" user.username %}?question_id={{question.id}}"> <i class="fa fa-save"></i>
                                      edit
                                    </a>
                              {% endif %}
                            </span>
                          </td>
                        </tr>
                      {% endif %}
                    {% endwith %}
                  {% elif poll.poll_type == 'Quiz' %}

                    {% with poll.quiz_poll as quiz %}
                      {% if not quiz.suspended %}
                        <tr>
                          <td class="status">
                            {% with settings=quiz.settings.all %}
                              {% for setting in settings %}

                                <div class="hidden" id="question-settings-parameters{{setting.id}}"
                                  responder="{{setting.who_can_respond }}"
                                  duration="{{setting.duration}}"
                                  quota="{{setting.votes_quota}}"
                                  enddate="{{setting.end_date}}"
                                  startdate="{{setting.start_date}}"
                                  begin="{{setting.begin_when}}"
                                  present="{{setting.presentation}}">
                                </div>
                              {% endfor %}
                            {% endwith %}

                            {% if quiz.get_status == 'Draft' %}
                              <span class="status-draft"><i class="fa fa-file-o" style="{'color':'#765'}"></i>
                                {{quiz.status}}
                              </span>
                            {% elif quiz.get_status == 'Active' %}
                              <span class="status-active"><i class="fa fa-check-circle"></i>
                                {{quiz.status}}
                                </span>
                            {% elif quiz.get_status == 'Closed' %}
                              <span class="status-locked"><i class="fa fa-lock"></i>
                                {{quiz.status}}
                                </span>
                            {% elif quiz.get_status == 'Suspended' %}
                              <span class="status-suspend"><i class="fa fa-times"></i>
                              </span>{{quiz.status}}
                            {% elif quiz.get_status == 'Pending' %}
                              <span class="status-pending"><i class="fa fa-unlock"></i>
                                {{quiz.status}}
                                </span>
                            {% endif %}
                          </td>
                          <td>
                            {% if quiz.owner == user %}
                              {% if quiz.get_status == 'Active' %}
                                <a href="{% url "polls:quiz_detail" quiz.id quiz.slug %}">
                                  {{quiz}}</a>
                              {% else %}
                                <a id="q1" class="custom-settings" href="{% url "polls:questionsettings" quiz.id quiz.poll_type %}" questionid={{quiz.id}}
                                countloop={{forloop.counter}} status={{quiz.status}}>
                                {{quiz}}</a>
                              {% endif %}
                            {% else %}
                              <a href="{% url "polls:quiz_detail" quiz.id quiz.slug %}">
                                {{quiz}}</a>
                            {% endif %}
                          </td>

                          <td>{{quiz.quiz_takers.count}}</td>
                          <td>n/p</td>
                          <td>{{quiz.total_likes}}</td>
                          <td id="qID" questionid={{quiz.id}} countloop={{forloop.counter}}>
                            <span>
                              {% if quiz.get_status != 'Active' %}
                                <a id="remove-poll" csrf="{{ csrf_token}}" questionid="{{quiz.id}}"
                                  data-action="delete" poll-type="{{quiz.poll_type}}" href="#">
                                  <i class="fa fa-trash-o"></i>
                                </a>
                                  {% if quiz.get_status != 'Closed' %}
                                    |
                                    <a class='edit' questionid="{{quiz.id}}"
                                      href="{% url "polls:pre_save_quiz" user.username %}?quiz_edit={{quiz.id}}"> <i class="fa fa-save"></i>
                                      edit
                                    </a>
                                  {% endif %}
                              {% endif %}
                            </span>
                          </td>
                        </tr>
                      {% endif %}
                    {% endwith %}

                  {% endif %}
                {% endfor %}
              </tbody>
            </table><!-- table-striped-->

          </div><!-- table-responsive -->

          <div id="settings-div" class="settings-div">
          </div>

        </div><!-- panel-body -->

      </div><!-- card for table-->

    </div><!-- #main -->
  </div><!-- row -->
</div><!-- content-fluid -->

{% endblock body %}
