{% load staticfiles %}
<div class="table-responsive">
    <table id="all-polls-table" class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Status</th>
          <th>Question</th>
          <th>Type of poll</th>
          <th>Votes</th>
          <th>Comments</th>
          <th>Likes</th>
          <th>Remove poll</th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
        <tr>
          <td class="status">
            {% with settings=question.questionsettings %}

              <div class="hidden" id="question-settings-parameters{{forloop.counter}}"
                responder="{{settings.who_can_respond }}"
                duration="{{settings.duration}}"
                quota="{{settings.votes_quota}}"
                enddate="{{settings.end_date}}"
                startdate="{{settings.start_date}}"
                begin="{{settings.begin_when}}"
                present="{{settings.presentation}}"></div>
            {% endwith %}

            {% if question.status == 'Draft' %}
              <span class="status-draft"><i class="fa fa-file-o" style="{'color':'#765'}"></i>
                {{question.status}}
              </span>
            {% elif question.status == 'Active' %}
              <span class="status-active"><i class="fa fa-check-circle"></i>
                {{question.status}}
                </span>
            {% elif question.status == 'Closed' %}
              <span class="status-locked"><i class="fa fa-lock"></i>
                {{question.status}}
                </span>
            {% elif question.status == 'Suspended' %}
              <span class="status-suspend"><i class="fa fa-times"></i>
                </span>{{question.status}}
            {% elif question.status == 'Pending' %}
              <span class="status-pending"><i class="fa fa-unlock"></i>
                {{question.status}}
                </span>
            {% endif %}
          </td>
          <td>
            {% if question.owner == user %}
              {% if question.status == 'Active' %}
                <a href="{% url "polls:detail" question.id question.slug %}">
                  {{question.question_text}}</a>
              {% else %}
                <a id="q1" href="{% url "polls:questionsettings" question.id question.poll_type %}" questionid={{question.id}}
                countloop={{forloop.counter}} status={{question.status}}>
                {{question.question_text}}</a>
              {% endif %}
            {% else %}
              <a href="{% url "polls:detail" question.id question.slug %}">
                {{question.question_text}}</a>
            {% endif %}
          </td>
          <td>{{question.poll_type}}</td>
          <td>{{question.total_votes}}</td>
          <td>{{ question.comments.all.count }}</td>
          <td>{{question.total_likes}}</td>
          <td id="qID" questionid={{question.id}} countloop={{forloop.counter}}>
            <span>
              {% if question.status != 'Active' %}
                <a id="remove-poll" csrf="{{ csrf_token}}" questionid="{{question.id}}"
                  data-action="delete" href="#">
                  <i class="fa fa-trash-o"></i>
                </a>
              {% endif %}
            </span>
          </td>
        </tr>
        <tr id="settings-div" class="settings-div{{forloop.counter}} hidden ">
          <form class="form-inline"  action ="{% url "polls:questionsettings" question.id %}"
              role="form" method ="post">
              {% csrf_token %}
          <td>
              <div class="form-group">
                <label for="id_who_can_respond">Who can respond</label>
                <select class="form-control" name="who_can_respond" required id="id_who_can_respond">

                    <option value="anyone" selected>Anyone</option>

                    <option value="group">Group Participants</option>

                    <option value="male">Male only</option>

                    <option value="female">Female only</option>

                </select>
              </div>
          </td>
          <td>
            <div class="form-group">
              <label for="id_presentation">Presentation</label>
              <select class="form-control" name="presentation" required id="id_presentation">
                <option value="hide_everybody">Hide result till closing date</option>

                <option value="show_everyone">Show result to everyone</option>

                <option value="voters_only" selected>Show result after voting</option>

              </select>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="id_duration">Duration</label>
              <select class="form-control" name="duration" id="id_duration"
                s-date="{{today|date:"Y-m-d"}}" e-date="{{enddate|date:"Y-m-d"}}" loopcount={{forloop.counter}}>
                <option value="Auto" selected>Auto lock</option>

                <option value="quota">Lock after votes quota</option>

                <option value="custom">Set custom day/time</option>

              </select>
            </div>
              <div id="quota{{forloop.counter}}" class="form-group">
                <label for="id_votes_quota">quota:</label>
                <input class="form-control" type="number" name="votes_quota"
                placeholder="Enter quota" id="id_votes_quota" />
              </div>
              <div id="lock-date{{forloop.counter}}" class="form-group">
                <!-- <label for="id_end_date">Set date:</label> -->
                <span>
                  <small><em>mm/dd/yyyy </em></small>
                  <span><i class="fa fa-calendar"></i></span>
                </span>
                <input class="form-control" type="text" name="end_date"
                  value="{{ tomorrow|date:"m/d/Y"}} {{tomorrow|time:"H:i"}}"
                  id="id_end_date{{forloop.counter}}" />
              </div>
          </td>

          <td>
            <div class="form-group">
              <label for="id_begin_when">Poll begins</label>
              <select class="form-control"  name="begin_when" id="id_begin_when"
                s-date="{{today|date:"Y-m-d"}}" e-date="{{enddate|date:"Y-m-d"}}" loopcount={{forloop.counter}}>
                <option value="" selected>---------</option>

                <option value="now">immediately</option>

                <option value="5mins">5 mins from now</option>

                <option value="1hr">1 hour from now</option>

                <option value="5hr">5 hours from now</option>

                <option value="next_day">tomorrow</option>

                <option value="custom">custom set date</option>

              </select>
            </div>
            <div id="start-date{{forloop.counter}}" class="input-append form-group">
              <!-- <label for="id_start_date">Set date:</label> -->
              <span>
                <small><em>mm/dd/yyyy </em></small>
                <span><i class="fa fa-calendar"></i></span>
              </span>
              <input class="form-control" type="text" name="start_date"
                value="{{today|date:"m/d/Y"}} {{today|time:"H:i"}}"
                id="id_start_date{{forloop.counter}}" />
            </div>
          </td>

          <td>
            <div class="form-group">
              <br/>
              <input id="submit" position="{{forloop.counter}}" class="btn btn-success btn-md form-control" type="submit" value="save"/>
            </div>
          </td>
          <td></td>
          <td></td>
          </form>
        </tr>
        {% endfor %}
      </tbody>
    </table><!-- table-striped-->
    {% if show_paginator %}
          <ul class="pager">
            {% if has_previous %}
              <li><a id="dashboard-prev" pageInView="{{ page }}" href="?page={{ prev_page }}#all-polls-table">&laquo; Previous</a></li>
            {% endif %}
              <!-- <li><a>{{page}}</a></li> -->
            {% if has_next %}
            <li><a id="dashboard-next" pageInView="{{ page }}" href="?page={{ next_page }}#all-polls-table">Next &raquo;</a></li>
            {% endif %}
            <span>(Page {{ page }} of {{ pages }})</span>
          </ul>
    {% endif %}
</div><!-- table-responsive -->
