{% extends 'polls/base.html' %}
{% load staticfiles %}
{% load extra_tags %}
{% block title %}{{question.question_text|capitalize}}{% endblock %}
{% block external %}
  <script type="text/javascript" src="{% static "polls/js/dashboard.js" %}"></script>
  <script type="text/javascript" src="{% static "polls/js/quiz_display.js" %}"></script>
{% endblock %}
{% block content %}
  {% if question %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="badge">
          <span class="total">{{ total_views }}</span>
          view{{ total_views|pluralize }}
        </span>
        {% if total_shares != None %}
        |
          <span class="badge">
            <span class="total">{{ total_shares }}</span>
            share{{ total_shares|pluralize }}
          </span>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <h2 class="page-header">{{question.question_text | capitalize }}
          {% if question.status == 'Draft' %}
            <span class="status-draft"><i class="fa fa-file-o"></i>
            </span>
          {% elif question.status == 'Active' %}
            <span class="status-active"><i class="fa fa-check-circle"></i>
              </span>
          {% elif question.status == 'Closed' %}
            <span class="status-locked"><i class="fa fa-lock"></i>
              </span>
          {% elif question.status == 'Suspended' %}
            <span class="status-suspend"><i class="fa fa-times"></i>
              </span>
          {% elif question.status == 'Pending' %}
            <span class="status-pending"><i class="fa fa-unlock"></i>
              </span>
          {% endif %}
        </h2>

        <div class="form-options">

          <form action='{% url 'polls:vote' question.id %}' method='post'>
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <div class="form-group">
                <input type='radio' name='choice' id='choice{{ forloop.counter }}'
                    value="{{ choice.id}}" />
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text | capitalize | escape }}</label>
            </div>
            <div class="divider"></div>

            {% endfor %}
            <button class="btn btn-md btn-success form-control" type="submit" value="Vote"> Vote </button>
          </form>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            {% with comments.count as total_comments %}
              <h4>{{ total_comments }} comment{{total_comments|pluralize}}</h4>
            {% endwith %}
          </div>
          {% for comment in comments %}
          <div class='panel-body comment'>
            <p class="info"><em>
              <strong>{{ comment.name }}</strong> |
              {{ comment.created }}</em>
            </p>
            {{ comment.body|linebreaks }}
          </div>
          {% empty %}
            <p>There are no comments for this poll.</p>
          {% endfor%}
        </div>

      </div><!--col-md-3-->

    </div>
  </div>
  {% endif %}

  {% if quiz %}
    <div class="row">
      <div class="col-md-4">
        {% if total_shares != None %}
        |
          <span class="badge">
            <span class="total">{{ total_shares }}</span>
            share{{ total_shares|pluralize }}
          </span>
        {% endif %}
      </div>
    </div>
    {% if show_result %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="page-header">{{ quiz | capitalize }}
          </h2>
          <div class="quiz-result">
            <ol>
            {% for question in quiz.quizquestion_set.all %}
              <li>{{ question }}
                {% if question.question_type == "choice" %}
                <ul>
                  {% for choice in question.quizchoice_set.all %}
                    <li><h5>{{choice}}
                      <span><!-- logic to show user's chosen answer -->
                        {% if choice.answer %}
                          {% if choice in choice_answers%}
                            <i class="fa fa-check"></i>
                          {% endif %}
                        {% else %}
                          {% if choice in choice_answers %}
                          <i class="fa fa-times"></i>
                          {% endif %}
                        {% endif %}
                      </span>
                      </h5>
                    </li>
                  {% endfor %}
                </ul>
                {% else %}
                  {% for answer in open_answers %}
                    {% if answer.quiz_question == question %}
                      {{ answer }} <span>
                        {% if answer.submitted_answer == question.open_answer.answer %}
                          <i class="fa fa-check"></i>
                        {% else %}
                          <i class="fa fa-times"></i>
                        {% endif %}
                      </span>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </li>
            {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
    {% elif messages %}
    <div class="alert alert-dismissable" role='alert'>
      <button type="button" class="close" data-dismiss="alert"
        aria-hidden="true">&times;</button>
      <ul class="messages alert-{{message.tags}}">
        {% for message in messages %}
          <li class="alert alert-{{message.tags}} alert-dismissable">
            {{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <div class="container target">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="page-header">{{ quiz | capitalize }}
          </h2>
          {% if quiz.mode == "timed" %}
          <p class="quiz-time">
            You have {{quiz.attempt|subtract:number_of_attempt}} attempt{{quiz.attempt|subtract:number_of_attempt|pluralize}} left
            <span class="pull-right">Duration: <span class="quiz-time">{{quiz.quiz_duration}} minute{{quiz.quiz_duration|pluralize}}</span>
            </span>
          </p>

          <div class="instructions">
            <h4><strong>Instructions:</strong></h4>
            <p>Read the following instructions carefully.</p>
            <ol>
              <li>This quiz will take <strong>{{quiz.quiz_duration}} minute{{quiz.quiz_duration|pluralize}}</strong></li>
              <li>Ensure you answer all questions before submitting</li>
              <li>The current question is highlighted among the questions number above the
                and you can answer the questions in any order </li>
              <li>Once you click start, a timer will be shown at left-top of the page
                and your number of attempt will be updated immediately </li>
              <li><strong>Do not</strong> refresh the page once the timer start for the number of attempt will be
                increased</li>
              <li>Number of allowed attempts: {{quiz.attempt}}</li>
            </ol>

          </div>
          <div class="start-button">
            <div id="id_start_quiz" url="{% url "polls:quiz_detail" quiz.id quiz.slug %}" class="btn btn-sm btn-default"> Start Quiz </div>
          </div>
          {% endif %}

          <div mode="{{quiz.mode}}" class="form-options paginated">
            <script>
              var formSection = document.getElementsByClassName('form-options')
              if($(formSection).attr('mode') === 'timed'){
                $(formSection).hide()
              }
            </script>
            <div class="clearfix"></div>
            <form id="submit-quiz" action="{% url "polls:quiz_vote" quiz.id quiz.slug %}" method='post'>
              {% csrf_token %}
              <ul>
              {% for question in quiz.quizquestion_set.all %}
                <div class="section">
                  <div><h4>{{ question }}</h4>
                    {% if question.question_type == "choice" %}

                      {% for choice in question.quizchoice_set.all %}
                      <div class="choices-list">
                        <input type='radio' name='question_choice{{question.id}}' id='id_question_choice{{question.id}}'
                            value="{{choice.id}}" />
                        <label for="id_question_choice{{question.id}}">{{ choice.choice_text | capitalize | escape }}</label>
                      </div>
                      {% endfor %}
                    {% else %}
                    <div class="choices-list">
                      <input type='text' name='question_answer{{question.id}}'
                         id='id_question_answer{{question.id}}'/>
                    </div>
                    {% endif %}
                  </div>
                </div><!-- section -->
              {% endfor %}
              </ul>
              <button class="sr-only btn btn-sm btn-primary" type="submit" value="submit"> Submit </button>
            </form>
          </div><!-- form-options -->
        </div>
      </div><!-- row-->
    </div><!-- container -->
  {% endif %}
{% endif %}
<script>

</script>
{% endblock %}
