<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@pollsportal1" />
    <meta name="twitter:creator" content="@pollsportal1" />
    <meta name="twitter:image" content= "http://res.cloudinary.com/pollsportal/image/upload/v1472151808/social-campaign/survey-159.jpg"/>
    <meta name="twitter:title" content="PollsPortal || Question" />
    <meta property="fb:app_id"     content='389801957856926' />
    <meta property="og:url"  content= "https://www.pollsportal.com/polls/{{question.id}}/{{question.slug}}/" />
    <meta property="og:description"  content= "{{question.question_text}}" />
    <meta property="og:site_name"  content="PollsPortal" />
    <meta property="og:image"      content="http://res.cloudinary.com/pollsportal/image/upload/v1472151808/social-campaign/survey-159.jpg"/>
    <meta property="og:image:width" content="200"/>
    <meta property="og:image:height" content="200"/>

    <script>
      (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '389801957856926',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.6',

        });
      }
    </script>

    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
    </script>

    <title>PollsPortal |
      {% block title %}{% endblock %}</title>
      <!-- bootstrap core css used -->
      <link rel="shortcut icon" href="{% static 'polls/imgs/favicon.ico' %}" type="image/x-icon" />
      <link rel="stylesheet" type="text/css"
        href="{% static 'polls/css/bootstrap.min.css' %}" media="screen" />
      {% block coverstyle %}
        <!-- Custom styles for this template -->
      <link href="{% static 'polls/css/base.css' %}" rel="stylesheet" type="text/css">
      {% endblock coverstyle %}
      <!-- custom fonts using awesome font -->
      <link href="{% static 'polls/bootstrap/dist/font-awesome/css/font-awesome.min.css' %}"
        rel="stylesheet" type="text/css">
      <!-- MetisMenu CSS -->
      <link href="{% static 'polls/metisMenu/dist/metisMenu.min.css' %}"
        rel="stylesheet" type="text/css"/>
        <!-- DataTables CSS -->
      <link href="{% static 'polls/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}"
        rel="stylesheet">

      <!-- DataTables Responsive CSS -->
      <link href="{% static 'polls/bower_components/datatables-responsive/css/responsive.dataTables.scss' %}"
        rel="stylesheet">
        <script src="{% static 'polls/js/jquery.js' %}"></script>
        <script src="{% static 'polls/js/jquery.form.js' %}"></script>
        <script src="{% static "polls/js/jquery.cookie.min.js" %}"></script>
        <!-- Chart -->
        <script src="{% static 'polls/js/chart.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/channels/js/websocketbridge.js' %}"></script>
        <!-- jquery time counter -->
        <script type="text/javascript" src="{% static 'polls/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'polls/js/websock.js' %}"></script>
        <!-- reload Notification div asynchronously -->
        <script src="{% static 'polls/js/notification.js' %}"></script>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
              <span class="sr-only">Navigation</span>
              <span class="new-messages badge"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div>
        <button id="create-poll" class="btn btn-default pull-right visible-xs-block">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          poll
        </button>
        <div id="nav-menu" class="collapse navbar-collapse">
          <ul class="nav navbar-nav" role="tablist">
            <li class="active"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true">
              </span> Home</a></li>
            {% if user.is_authenticated %}
            <li>
              <a href="{% url "polls:dashboard" user.username %}">dashboard</a>
            </li>
              <li>
                  <a href="{% url 'polls:save_page' user.username %}">create poll</a>
              </li>

              <li class="dropdown hidden-xs" role="navigation">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">invite friends<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url "polls:friend_invite" %}">by email</a></li>
                  <li class="visible-lg"><a href="#" onclick="sendInvite()">facebook friends</a></li>
                </ul>
              </li>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" href="#">
                  <span class="new-messages badge"></span>
                  <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                  Notifications
                </a>
                <ul id="notification-list" class="dropdown-menu dropdown-alerts">
                  <!-- insert messages into li.notify -->
                   <li class="notify">
                   </li>

                </ul>
                <!-- /.dropdown-alerts -->
              </li>
              <li class="visible-xs">
                <a href="{% url "account:edit_profile" %}">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  Profile</a></li>
              <li class="visible-xs"><a href="{% url 'account:logout' %}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                Logout</a></li>
            {% endif %}
          </ul>
          <button id="create-poll" class="btn btn-default pull-right hidden-xs">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            poll
          </button>
          <div id="nav-options" class="btn-group pull-right hidden-xs">
            <button type="button" class="btn btn-default dropdown-toggle
          thumbnail" data-toggle="dropdown" aria-haspopup="true" ariaexpanded="false">
              <img src="{% static 'polls/imgs/logo5.png' %}">
            </button>
            <ul class="dropdown-menu">
              <li><a href="{% url "account:edit_profile" %}">Profile</a></li>
              <li><a href="{% url "account:account_settings" %}">Setting</a></li>
              {% if user.is_superuser %}
              <li role="separator" class="divider"></li>
              <li><a href="/admin/login">Admin portal</a></li>

              <li><a href="{% url "polls:personalmail" %}">send a mail</a></li>
              <li><a href="{% url "polls:sendmail" %}">send bulk mails</a></li>
              {% endif %}
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'account:logout' %}">Logout</a></li>
            </ul>
          </div>
          <form id="search" role="search" method="get" class="hidden-sm hidden-xs"
            action="{% url 'polls:search' %}">{% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search...">
              <span class="glyphicon glyphicon-search" aria-hidden="true">
              </span>
            </div>
          </form>

        </div><!--/ .nav-collapse -->
      </div>
    </nav>

    <div>
      {{head_title}}
    </div>
  </body>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">&#169; 2016-2017 Dayma. All rights reserved.
        <a href="{% url "terms" %}">
      Terms of Service</a> | <a href="{% url "privacy" %}"/>Privacy Policy</a> |
        <a href="{% url "feedback" %}">send us a message</a> |
        <a href="{% url "help" %}">help/guide</a></p>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script>window.jQuery || document.write('<script src="{% static "polls/bootstrap/assets/js/vendor/jquery.min.js" %}><\/script>')</script>

  <script src=" https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
  <script>
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    })
  </script>
  <script src = "{% static 'polls/js/bootstrap.min.js' %}"></script>
</html>
