{% extends 'polls/base.html' %}
{% block title %}Contact form{% endblock %}
{% block head %}<div class="page-header">Send us a feedback </div>{% endblock %}
{% block content %}
<p>
  Thank you for taking time to write us.  We apreciate your contributions and we'll
  get back to you as soon as possible!
</p>
<div class='form'>
<form action="." method="post">
  <p><label for ="id_feedback_text">message:</label></p>
  <p><textarea cols ="50" id="id_feedback_text" name="feedback_text" rows="6"></textarea></p>
  {% csrf_token %}
  <p><input class='btn btn-success' type='submit' value="submit"></p>
</form>
</div>
{% endblock %}
