{% extends "polls/base.html" %}
{% block title %}Invite A Friend{% endblock %}
{% block head %}<div class="page-header">Invite A Friend</div>{% endblock %}
{% block content %}
Enter your friend name and email below
and click "send invite" to invite your friend to join PollsPortal
<form method="post" action=".">
  {{ form.as_p }}
  {% csrf_token %}
  <input class="btn btn-success" type="submit" value="send invite" />
</form>
{% endblock %}
