<div class="card-block">
  {% if following %}
    <div class="card-title">
        <h4>People {% if user.username == username %} I {% else %} {{username}} {% endif %} follow</h4>
    </div><!-- panel-heading -->
    <div class="card-body">
      <ul class="list-group">
        {% for friend in following %}
          <div class="list-group-item"><a href="{% url "polls:user_page" friend.username %}">
            {{friend.username}}</a></div>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p>{% if user.username == username %} You {% else %} {{username}} {% endif %}{{username}} follow no one</p>
  {% endif %}
  {% if followers %}
  <div class="card-title">
      <h4>{% if user.username == username %} My {% else %} {{username}} {% endif %}Followers</h4>
  </div><!-- card-title-->
  <div class="card-body">
    <ul class="list-group">
      {% for friend in followers %}
        <div class="list-group-item"><a href="{% url "polls:user_page" friend.username %}">
          {{friend.username}}</a></div>
      {% endfor %}
    </ul>
  </div><!-- card-body -->
  {% else %}
    <p>No followers found</p>
  {% endif %}
</div><!-- card-block -->
