{% extends 'polls/base.html' %}
{% load extra_tags %}
{% load staticfiles %}
{% block title %} {{head_title}} {% endblock %}
{% block head %}
{{head_title}}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <h2 class="page-header"></h2>
      <div class="sidebar">
        <ul>
          <li><a href="#create">Creating polls</a></li>
          <li><a href="#voting">Voting</a></li>
          <li><a href="#guide">User's guide</a>
            <ul>
              <li><a href="#homepage">Homepage</a></li>
              <li><a href="#navigation">Navigation</a></li>
              <li><a href="#result">Poll Results</a></li>
              <li><a href="#settings">Settings</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- sidebar-->
    </div><!-- col-md-3 -->

    <div class="col-md-8">
      <div class="help-content">
        <p><a id='create'>.</a></p>
        <h2 class="page-header">Creating Polls</h2>
        <p>A poll is any question (short or long) that you ask fellow users.</p>
        <p>For every poll you create, you'll have to provide a minimum of two (maximum of 5) options
          (choices).  This means that all poll questions are multiple-choice.  It takes
          less than a minute to create any poll question.</p>
        <p>You do not have to create an account to create a poll.  However, each poll you
          create without an account will be registered as being created by an anonymous user.
          Also, you won't be able to vote on such poll. You can create an account now, it's free
          to Sign up.</p>
        <p>To create a new poll, click on 'create a poll' link as shown below and fill in
          the displayed form.</p>
          <img src="http://res.cloudinary.com/pollsportal/image/upload/c_scale,h_78/v1467831312/polls-help/create_poll_link_rifmjf.png"/>
        <ul>
          <li>Type in your poll question and select a category for the poll.</li>
          <img class="help-image" src="http://res.cloudinary.com/pollsportal/image/upload/w_320,c_scale/v1467831324/polls-help/create-poll_ye3srw.png"/>

          <li>Provide options for the question (at least 2). click on 'add more options'
            <img src="http://res.cloudinary.com/pollsportal/image/upload/v1467831796/polls-help/more-options-button.png"/>to display more option boxes</li>
          <li>If you want to create gender specific poll, tick the 'Enable voters eligibility'
            to select the gender group you wish to answer your poll question.</li>
            <img class="help-image" src="http://res.cloudinary.com/pollsportal/image/upload/w_350,c_scale/v1467831761/polls-help/gender-select.png"/>
          <li>use the additional information box to include any information that can help
            in answering the poll question.</li>
            <img class='help-image' src="http://res.cloudinary.com/pollsportal/image/upload/w_320,c_scale/v1467831812/polls-help/submit-button.png"/>
        </ul>
        <p><a id='voting'></a>.</p>
        <h2 class="page-header">Voting</h2>
        <p> As a registered users, you can vote on polls, including polls created by you.
          The only exception is when the poll question is targeted at specific gender or geographical
          location other than yours.</p>
        <p>You can only vote when logged in and also you are allowed to vote only once on a particular poll question </p>
        <p>To vote, click on any poll question to display its details, then select your preferred choice
          from the options given. </p>
          <img class='help-image' src="http://res.cloudinary.com/pollsportal/image/upload/w_320,c_scale/polls-help/voting1.png"/>
        <p>Alternatively, you can use the suggested poll section to vote by just selecting your
          preferred option</p>
        <img class='help-image' src="http://res.cloudinary.com/pollsportal/image/upload/w_320,c_scale/polls-help/voting2.png"/>
        <p><a id='guide'></a>.</p>
        <h2 class="page-header">User's Guide</h2>
        <ol class="user-guide">
          <li>
            <h3><p><a id='homepage'></a>Homepage</p></h3>
            <ul>
              <li>You can use the suggested poll section at the homepage to find polls you're yet to vote on.</li>
              <li>The 'people you may know' box displays names of other users of PollsPortal that you can follow.  When you
                click on a user's username/name, you'll be redirected to a page that shows activity details of
                such user (e.g list of polls he/she voted on, list of polls he/created etc).</li>
              <li>'What's happening' section (also on homepage) shows you updates on activities of registered
                users that you already follow.</li>
              <li>The 'Poll gragh' shows the progress of each poll question (displaying the Top
                10 most voted polls).  The pie chart also gives the percentage of polls in each category</li>
              <li>Use the search box (at the top right corner) to find polls or users of PollsPortal.
                You can use the poll number or keywords in searching for polls</li>
            </ul>
          </li>

          <li>
            <h3 id="navigation">Navigation</h3>
            Navigate round the site using the navigation bar at the top. On mobile phones, you can use
            the toggle menu to display or hide navigation links.
            <img class="help-image" src="http://res.cloudinary.com/pollsportal/image/upload/w_320,c_scale/v1467831772/polls-help/mobile-menu.png"/>
            <ul>
              <li>use the'special link' to find gender restricted polls </li>
              <li>To invite a friend, you need his/her name and email address</li>
              <li>Click on a poll question to get all its details such as author,date created,eligibility,
                total votes etc.</li>
            </ul>
          </li>

          <li>
            <h3 id="result">Result</h3>
            <p>You can only view the result of a poll when you voted on such poll.  The only
            exception is when you are the auther of the poll. Also, on gender related poll,
            the other gender (i.e not eligible gender) can view result of the polls.</p>
            On the result page, there are four (4) sections:
            <ol>
              <li>Number of Votes:
                <p>This show the total number of votes for each poll options with the
                  corresponding percentage of the total votes cast</p>
              </li>
              <li>Graphical result:
                <p>This graph displays the distribution of the votes according to the options in percentage</p>
              </li>
              <li>Tables:
                <p>The first table shows total number of male and female that voted</p>
                <p>The second table shows the percentage of male/female that select a particular option</p>
              </li>
              <li>Comments:
                <p>There are two comment channels (Facebook &amp; on-site). You can use
                  any of the two channels to comment on polls. While you do not have to 'login with facebook'
                  to use the Facebook plugin, you must have a valid facebook session on the
                  browser you're using. You can post directly on your facebook page by enabling the 'enable' checkbox on plugin</p>
                  <img class="help-image" src="http://res.cloudinary.com/pollsportal/image/upload/w_320,c_scale/v1467831334/polls-help/facebook-comment_bmmhhh.png"/>
                <p>The on-site comment channel is available to everyone as long as you're logged-in on PollsPortal.
                  To enable this channel, click <img src="http://res.cloudinary.com/pollsportal/image/upload/v1467831303/polls-help/comment-button_exoejb.png"/> to display the comment box.
                </p>
                <p>Comments from both channels (Facebook &amp; on-site) are displayed for all to see</p>
              </li>
            </ol>
          </li>

          <li>
            <h3 id="settings">Settings</h3>
            <p>You can update your profile using the update link at the topmost right corner.
              Users with updated profile have higher chances of qualifying for geo-specific/related polls.
              <img class='help-image' src="http://res.cloudinary.com/pollsportal/image/upload/w_320,c_scale/v1467831826/polls-help/update-button.png"/>
            </p>
            <p>You can use the 'settings' tab to enable the kind of notifications you may
              wish to receive from PollsPortal.</p>
          </li>
        </ol>
      </div><!-- help-content -->
    </div><!-- col-md-8-->
  </div><!-- row-->
</div><!-- container -->
<p class="return-link"><a href="#top">return to Top</a></p>
{% endblock %}
