{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>PollsPortal |
      {% block title %}{% endblock %}</title>
      <link rel="shortcut icon" href="{% static 'polls/imgs/favicon.ico' %}" type="image/x-icon" />
      <!-- bootstrap core css used -->
      <link rel="stylesheet" type="text/css"
        href="{% static 'polls/bootstrap/dist/css/bootstrap.min.css' %}" media="screen" />

        <!-- Custom styles for this template -->
      <link href="{% static 'polls/css/cover_style.css' %}" rel="stylesheet" type="text/css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '272374383691304',
          cookie     : true,
          xfbml      : true,
          version    : 'v3.2'
        });

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    {% block external %}{% endblock %}
  </head>
  <body>
      <h4 class="masthead-brand">PollsPortal<br/>
        <small>
          <em>...your vote counts!</em>
      </small>
      </h4>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

          <div class="container">
              <div class="row main-row">
                <div class="col-md-12">
                  <div class="masthead dropdown clearfix">
                    <!--<div class="inner">-->
                        <ul class="nav masthead-nav">
                          <li class="active"><a href="{% url 'index' %}">Home</a></li>
                          <!-- <li><a href="{% url "polls:features" %}">Features</a></li> -->
                          <li><a href="#">Contact</a></li>
                          <li><a href="{% url 'polls:create' %}">Submit a poll</a></li>
                          <li><small>Already a member?</small></li>
                          <li>
                              <button type="button" class="btn btn-default dropdown-toggle"
                            id="dropdownMenu1" data-toggle="dropdown"> Log in
                            <!-- <span class="caret"></span> -->
                            </button>
                            <ul class="login-popup dropdown-menu" role="menu"
                               aria-labelledby="dropdownMenu1">
                               <li class="panel panel-default">
                                 <div class="panel-heading">
                                   <form role="form"
                                    method="post" action="{% url 'account:login' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label for="id_username" class="sr-only">Username</label>
                                      <input type="text" id="id_username" class="form-control control-label"
                                             placeholder="Enter email or username" name='username' maxlength='30' required autofocus>
                                    </div>
                                    <div class="form-group">
                                      <label for="id_password" class="sr-only">Password</label>
                                      <input type="password" id="id_password" class="form-control control-label"
                                             placeholder="Enter your password" name='password' maxlength='30' required>
                                    </div>
                                    <input type="hidden" name="next" value="{% url 'index' %}" />
                                    <button type="submit" class="btn btn-md btn-success">Log in</button>
                                   </form>
                                  </div><!-- panel-heading -->
                              </li><!-- panel panel-default -->
                            </ul><!-- login dropdown -->
                          </li>
                        </ul>
                    <!--</div>-->
                  </div>
                </div>
              </div><!-- row-->
              <div class="row">
                {% if messages %}
                  <div class="alert alert-info" role='alert'>
                      {% for message in messages %}
                        {{ message }}
                      {% endfor %}
                  </div>
                {% endif %}
              </div><!-- row -->

              <div class="row">
                <div class="col-md-7 col-lg-8">
                  <div class="inner cover">
                    <h1 class="cover-heading">Built for Fun and Research</h1>
                    <p class="lead">PollsPortal is a social platform
                      inspired by happenings in the societies.
                      From home to work, business or pleasure, you can create,
                      vote, comment and share polls with friends and colleagues.</p>

                    <p class="lead">
                      Get started for free -- join real people already using
                      PollsPortal to voice and share their opinions.
                    </p>
                    <!-- will only be visible on small screen devices -->
                    <p class="signup-button visible-md">
                      <a href="{% url 'account:register' %}" class="btn btn-lg btn-default">Sign up today</a>
                    </p>
                  </div>
                </div><!--col-sm-8-->

                <!-- Sign up form-->
                <!-- will only be visible on small screen devices -->
                <div class="col-md-5 col-lg-4 ">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <form class="form-group" method="post" action="{% url 'account:register' %}">
                        {% csrf_token %}
                        <h2 class="form-signin-heading">Create Account</h2>
                        <label for="id_username" class="pull-left">Username</label>
                        <input type="text" id="id_username" class="form-control"
                               placeholder="Choose a username" name='username' maxlength='30' required autofocus>
                        <label for="id_email" class="pull-left">Email</label>
                        <input type="email" id="id_email" class="form-control"
                              placeholder="you@example.com" name='email' required>
                        <label for="id_gender" class="pull-left">Sex</label><select id="id_gender"
                              name="gender" class="form-control" required>
                              <option value="" selected="selected">Select gender</option>
                              <option value='M'>Male</option>
                              <option value="F">Female</option>
                            </select>
                        <label for="id_password1" class="pull-left">Password</label>
                        <input type="password" id="id_password1" class="form-control"
                               placeholder="Choose a password" name='password1' minlength='6' required>
                        <label for="id_password2" class="pull-left">Confirm password</label>
                        <input type="password" id="id_password2" class="form-control"
                              placeholder="Confirm password" name='password2' minlength='6' required>
                        <label type="text" ></label>
                        <button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
                        <p><small>By creating a Pollsportal account, you agree to the <a id="policy" href="{% url "terms" %}"/>
                        Terms of Service</a> and <a id="policy" href="{% url "privacy" %}"/>Privacy Policy</a></small></p>
                      </form>
                    </div><!-- panel-body-->
                  </div><!-- panel-default-->

                  <div class='form-signin social-reg'>
                      <a class="facebook btn btn-sm btn-primary" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                        Login with Facebook</a>
                      <a class="google btn btn-sm btn-danger" href="{% url "social:begin" "google-oauth2" %}">
                        Login with Google</a>
                  </div>
                </div>

              </div><!--row -->

              <div class="row visible-md visible-lg">
                <div class="empty">
                  <br/>
                </div>
              </div>

          </div><!-- container -->

      </div><!-- site-wrapper-inner -->

      <div class="site-wrapper-inner2">
        <div class="container">
          <div class="row">
            <div class="inner">
              <p class="sub-heading">
                whether you're creating polls for fun or research,
                there's room for you here, too.
              </p>
            </div><!-- inner -->
          </div><!-- row -->
          <div class="row inner2">
            <div class="col-sm-6 col-md-6">
              <div id="myCarousel" data-ride="carousel" class="carousel slide">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="item active">
                     <img src="/static/polls/images/carousel-image/speak-languages.png"
                       class="img-responsive" alt="language graph">
                  </div>
                  <div class="item">
                     <img src="/static/polls/images/carousel-image/blue-jeans.png"
                     class="img-responsive" alt="second graph">
                  </div>
                  <div class="item">
                     <img src="/static/polls/images/carousel-image/person-disability.png"
                     class="img-responsive" alt="Third graph">
                  </div>
                  <div class="item">
                     <img src="/static/polls/images/carousel-image/sneezing.png"
                     class="img-responsive" alt="Fourth graph">
                  </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next">&rsaquo;</a>

              </div><!-- mycarousel -->
            </div><!-- col-sd-6-->

            <div class="col-sm-1 col-md-2">
            </div><!-- col-sm-2-->

            <div class="col-sm-5 col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>PollsPortal brings friends together to share opinions and
                    learn from others as you vote and share polls.
                  </p>
                </div><!-- panel-heading-->
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Friends and family use PollsPortal for personal and
                    public opinions sampling and sharing
                  </p>
                </div><!-- panel-heading-->
              </div><!-- panel-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Businesses of all sizes use PollsPortal to conduct
                    simple market survey.
                  </p>
                </div><!-- panel-heading-->
              </div><!-- panel -->
            </div><!-- col-sm-7-->

          </div><!-- row-->
        </div><!-- container -->
      </div><!-- site-wrapper-inner2 -->
      <div class="mastfoot">
        <p class="footer"> &#169; 2016 - 2019 Design and maintain by Dayma. All rights reserved.</p>
        <p><a href="{% url 'terms' %}"/>
        Terms of Service</a> | <a href="{% url 'privacy' %}"/>Privacy Policy</a></p>
      </div>

    </div><!-- site-wrapper -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'polls/js/jquery.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "polls/bootstrap/assets/js/vendor/jquery.min.js" %}><\/script>')</script>
    <script src = "{% static 'polls/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src = "{% static 'polls/bootstrap/assets/js/docs.min.js' %}"></script>
  </body>
</html>
