{% extends "polls/base.html" %}
{% load staticfiles %}
{% block title %} {{ head_title }} {% endblock %}
{% block head %}
{% endblock %}
{% block external %}
  <link href="{% static 'polls/css/index.css' %}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{% static 'polls/js/indexpage.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
  <div id="profile" class="col-md-3 hidden-sm hidden-xs">

    <div class="sidebar-search input-group custom-search-form">
      <form id="index-search" role="search"
          method="get" action="{% url 'polls:search' %}">
        {% csrf_token %}
        <div class="input-group">
          <input id="id_query" type="text" class="form-control" placeholder="Search...">
          <span class="glyphicon glyphicon-search" aria-hidden="true">
          </span>
        </div>
      </form><br/>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="search-result">
        </div><!-- search-result -->
      </div>
    </div><!-- row -->

  </div>

  <div id="main" class="col-sm-12 col-md-6">
    <div id="main-feeds" class="main-poll-div card">
      {% include "polls/question_feed_display.html" %}
    </div><!-- main-poll-div --->
  </div>
  <div id="right-content" class="col-md-3 hidden-sm hidden-xs">
    <div id="news-feed" class="card">
      <div class="card-header"><i class="fa fa-newspaper-o"></i> News Feed</div>
      <div class="card-block" id="action-list">
        {% for aggregated_activity in feed_aggr %}
          <div class="card-title action{{ forloop.counter }}">
            {% include "polls/feeds/aggregated_feeds.html" %}
          </div>
        {% endfor %}
        <a href="{% url 'polls:feeds' %}">Feeds</a>
      </div>
    </div><!--id action-list -->
  </div>
</div>

<div class="row">

</div><!-- 1st containing row -->
<!-- create modal for share button/link -->
<div id="shareModal" class="modal fade" role="dialog"
  aria-labelledby="shareModalLabel"aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-sm-7">
      <div class="modal-header">
        <button type="button" class="close"
           data-dismiss="modal" aria-hidden="true">
              &times;
        </button>
        <h4 class="modal-title" id="shareModalLabel">
        </h4>
      </div><!-- modal-header -->

      <div class="modal-body">
         
      </div><!-- modal-body -->

      <div class="modal-footer">

      </div>
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div>

{% endblock %}
