<div class="container">
  <div class="row">
    <div class="col-sm-6">
      {% if most_shared %}
        <ol>
          {% for question, score in most_shared %}
              <li>{{question}}  <span>{{score}}</span></li>
          {% endfor %}
        </ol>
      {% else %}
        There is no ranking question
      {% endif %}
    </div>
  </div><!--row -->
</div>
