{% load staticfiles %}
<script type="text/javascript" src="{% static "polls/js/questionForm.js" %}"></script>

{% if question %}
    <div class="form-container">
      <div class="row">
        <div class="col-sm-8">
          <div class="page-header">
            <strong>Settings: </strong>
            {{question|capfirst }}</div>
          <form class="form-horizontal poll-settings" poll-type="{{question.poll_type}}" action ="{% url "polls:questionsettings" question.id question.poll_type %}"
            role="form" method ="post">
            {% csrf_token %}
            <div class="settings-for-poll">
              {% for field in form %}
                <div class="form-group">
                  {{field.errors}}
                  {{field.label_tag}}
                  <div class="fieldwrapper">
                    {{ field }}
                  </div>
                </div>
              {% endfor %}
            </div><!-- settings-for-poll-->
            <div class="form-group">
              <input id="submit-button" class="btn btn-default" type="submit" value="save changes"/>
            </div>
          </form>
        </div><!-- col-sm-5-->
      </div><!-- row-->
    </div><!-- container -->
{% endif %}
