{% extends 'polls/base.html' %}
{% block title %}Most voted Polls{% endblock %}
{% block head %}Most voted polls {% endblock %}
{% block content %}
{% if not user.is_authenticated %}
  <div class="alert alert-warning" role="alert">
    Note: You need to Login (above) or <a href="{% url "account:register" %}">
      sign up</a> before you can vote on polls
  </div>
{% endif %}
{% include "polls/questions_list.html" %}
{% endblock %}
