{% extends 'polls/base.html' %}
{% block title %}{{head_title}}{% endblock %}
{% block head %}<div class="page-header">Privacy Policy </div>{% endblock %}
{% block content %}
<p><i>Last updated: 8th August, 2018</i></p>

  <p>In this Privacy Policy, we refer to you as either “Visitor” or “User”.
      If you visit <a href="/"/> www.pollsportal.com</a> (our 'Site') and do not register,
     we refer to you as a "Visitor".  If you choose to register on our Site,
     we refer to you as a “User”.  Both Users and Visitors can use our polling services.
  </p>
  <p>This privacy policy explains how PollsPortal handles your personal
     information and data.  We value your trust, so we’ve strived to present
     this policy in clear, plain language instead of legalese.
  </p>
  <h4>Summary</h4>
  <ul>
    <li>We collect clickstream information and basic, technical information,
       such as browser type, from Visitors.
    </li>
    <li>If you register as a user of the Service and become a User,
       PollsPortal collects the same information we collect from Visitors,
        as well as the personal information Users submit during the registration,
        and we use cookies to support Users' logged-in experience.
    </li>
    <li>When you provide your email address during registration, we automatically
       add it to our email list for periodic announcements.  In addition, we may
        use the information we have about you to offer you products and services
         that we believe may be of interest to you.  These products and services may
          be offered in conjunction with our business and marketing partners.
    </li>
  </ul>
  <h3>THE POLICY</h3>
  <p>This Privacy Policy applies to the personal information we collect on our
    Site, whether you are a Visitor or have registered to use our service and became
     a User.
  </p>
  <p>The Privacy Policy includes the contents of this web page.
    Please read the entire Privacy Policy, as well as the <a href="{% url "terms" %}"/>
    Terms of Service</a>.
  </p>
  <p>If you do not agree with the Privacy Policy, or the <a href="{% url "terms" %}"/>
  Terms of Service</a>, you may not use this Site and/or any of our services.
  </p><br/>
  <p><strong>What information does PollsPortal collect from Users and Visitors?</strong></p>
  <p>PollsPortal only collects technical information, such as device and browser
    type, from Visitors to the Site or mobile Site.<br/>
    To register to use some parts of the Service, you must provide a full name,
    email address and gender.  PollsPortal may use your registration information
    to contact you to: deliver the Service and improve our Site, Service, features
    and content, and provide customer service; administer and enable your use, enjoyment
    and navigation of our Site and to better understand your needs and interests.
    We only receive personal information when you choose to provide it.
  </p>
  <p><strong>How does PollsPortal collect information from Visitors or Users?</strong>
  </p>
  <p>PollsPortal may collect non-personal information during your visit to the Site
     or through our automatic data collection tools, which may include “cookies” and
      other commonly used technologies.<br/>
      A cookie is a small piece of data stored by a user’s browser that contains
      session information to identify you for access purposes as you navigate PollsPortal.
       Cookies are required to use some part of our Service.
  </p>
  <p><strong>Can I invite others to join PollsPortal?</strong></p>
  <p>Yes. If you’d like to do that, we will ask you for the individual’s name and
     email address for the sole purpose of inviting them to the Service.
     They are not added to our email list nor will they further receive marketing
     communications from PollsPortal unless they register afterwards.
  </p>
  <p><strong>When might PollsPortal be required to disclose my personal information?</strong>
  </p>
  <p>We may disclose information about you (i) if we are required to do so by law
    or legal process (such as a court order), (ii) in response to a request by law
    enforcement authorities, or (iii) when we believe disclosure is necessary or appropriate
    (a) to prevent physical harm or financial loss or in connection with an investigation
     of suspected or actual illegal activity, or (b) to protect or defend the rights or
      property of PollsPortal, Users, Visitors, our business customers or others.<br/>
      We also reserve the right to transfer personal information in the event we sell,
       merge or transfer all or a portion of our business or assets. Should such
       a sale, merger or transfer occur, we will use reasonable efforts to direct
       the transferee to use the personal information in a manner that is consistent
        with our Privacy Policy. Following such a sale, merger or transfer, you may
        contact the entity to which we transferred your personal information with any
        inquiries concerning the processing of that information.<br/>
        Where your personal information has been requested by any governmental entity or
         other third party pursuant to subpoena or similar legal process, we will
         notify you as quickly as practicable before providing any such information,
         unless we are legally prohibited from doing so or we believe in good faith
         that disclosure is or may be necessary to protect life, avoid serious physical
         injury or property loss or damage, or to prevent or investigate an ongoing crime.
  </p>
  <p><strong>What practices does PollsPortal follow to secure my information?</strong>
  </p>
  <p>The security of your personal information is important to us. We follow standard
    industry practices to protect personal information, both during transmission and
    once we receive it.<br/>
    Nevertheless, no method of transmission over the Internet or electronic storage
    is 100% secure.  Therefore, we cannot guarantee its absolute security.
  </p>
  <p><strong>How does PollsPortal help prevent outside parties from eavesdropping on me?</strong></p>
  <p>PollsPortal uses SSL encryption and secure cookies to help prevent others from
    eavesdropping on you when you transfer personal information to PollsPortal.
    All pages and APIs involving the exchange of passwords or personal information are
    safeguarded this way. Please note that PollsPortal cannot guarantee that your
    ISP is not tracking your visits to PollsPortal and other sites, whether you
    are on our Site or not.
  </p>
  <br/>
  <p>Due to our committment to our Visitors' and Users' privacy, PollsPortal continuously
    evaluates our Privacy Policy and this policy may change from time to time.
    We encourage you to check our Site, the current Privary Policy and Terms of Service
    frequently to see any changes that may have been made to them.
  </p>
  <p>We welcome any questions, comments or suggestions you may have about this Privacy
    Policy or any other material on PollsPortal.  Please send your questions,
    comments or suggestions to enquiries@pollsportal.com or support@pollsportal.com
  </p><br/>

{% endblock %}
