{% extends "polls/base.html" %}
{% load staticfiles %}
{% block title %} Edit Poll {% endblock %}
{% block head %}
  Edit Poll Question
{% endblock %}
{% block external %}
  <script type="text/javascript" src="{% static "polls/questionForm.js" %}"></script>
{% endblock %}
{% block content %}
{% if question_id %}
<div class="form-container">
  <div class="row">
    <div class="col-sm-6">
      <form method="post" action="{% url "polls:edit_question" question_id %}"
          class="form-horizontal" role="form">
          {% csrf_token %}
          {% for field in form %}
                <div class ="form-group">
                  {{ field.errors }}
                  {{ field.label_tag }}
                  <div class="fieldwrapper">
                    {{ field }}
                  </div>
                  {% if field.help_text %}
                     <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
                </div>
          {% endfor %}
          <div class="form-group">
              <input id="submit-edited-question" type="submit" value="submit poll"/>
          </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
