{% load staticfiles %}
<script type="text/javascript" src="{% static "polls/js/questionForm.js" %}"></script>

{% if form.errors %}
  <div class="alert alert-danger" role="alert">
    <p><strong>{{form.question.errors}}</strong></p>
  </div>
{% endif %}
<div class="row poll-types-container">
    <div class="col-xs-5 col-sm-3">
      <div class="instant-poll poll-type panel panel-default">
        <div class="panel-heading">
          <a class="instant-poll" href="#">
              <h4>
                Multiple choice (Instant)
              </h4>
            <h6>
              Available for instant voting with pre-defined (default) settings!
            </h6>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-5 col-sm-3">
      <div class="custom-poll poll-type panel panel-default">
        <div class="panel-heading">
          <a class="custom-poll" href="#">
              <h4>
                Multiple choice (Custom)
              </h4>
            <h6>
              Define custom settings for your poll and set when poll will begins or ends!
            </h6>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-5 col-sm-3">
      <div class="quiz-poll poll-type panel panel-default" url="{% url "polls:pre_save_quiz" user.username %}">
        <div class="panel-heading">
          <a class="quiz-poll" href="#">
              <h4>
                Quiz Poll
              </h4>
            <h6>
              Multiple choice quizzes or open-ended questions. (Class Test/Evaluation)!
            </h6>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-5 col-sm-3">
      <div class="survey-poll poll-type panel panel-default">
        <div class="panel-heading">
          <a class="survey-poll" href="#">
              <h4>
                Survey
              </h4>
            <h6>Create questions for a quick and accurate market survey for
              your product(s)!</h6>
          </a>
        </div>
      </div>
    </div>
</div><!-- row -->

<div class="form-container multiple-choice-container">
  <div class="row">
    <div class="col-sm-8">
      {% include "polls/question_form_multiple_choice.html" %}
    </div><!-- col-sm-8-->
  </div><!-- row -->
</div><!-- container -->

<div class="form-container quiz-container">
  <div class="row">
    <div class="col-sm-6">
      {% include "polls/quiz_form_ajax.html" %}
    </div><!-- col-sm-8-->
  </div><!-- row -->
</div><!-- container -->
