{% load extra_tags %}
{% load staticfiles %}
{% if polls %}
<div id="feed" positionCounter="{{ forloop.counter }}"  class="card">
    {% for poll in polls %}
      {% if poll.poll_type == 'Opinion' %}
        {% with poll.single_poll as question %}
            {% if question.get_status != "Draft" %}

                  <div class="feed-box">
                    {% if question.get_status == 'Closed' %}
                      <h2 class="h6 pull-right locked-color">
                          {{question.get_status}}
                      </h2><!-- panel-heading -->
                    {% elif question.get_status == 'Active' %}
                    <h2 class="h6 pull-right active-color">
                        {{question.get_status}}
                    </h2><!-- panel-heading -->
                      {% elif question.get_status == 'Pending' %}
                      <h2 class="h6 pull-right pending-color">
                          {{question.get_status}}
                      </h2><!-- panel-heading -->
                    {% endif %}

                    <div class="card-title">
                        <div class="feed-post {% if user in question.users_voted.all %}voted{% endif %}">
                          <div class="row">
                              <h3>
                                {{question.question_text | escape|capitalize }}

                              </h3>
                              <form action='{% url 'polls:vote' question.id %}' method='post'>
                                {% csrf_token %}
                                {% for choice in question.choice_set.all %}
                                <div data-value="{{choice.id}}" loopnum="{{forloop.counter}}" questionId={{question.id}}
                                  class="vote-btn btn btn-default btn-md btn-block">
                                  <input type ='hidden' name='choice' id='choice{{forloop.counter}}'
                                      value="{{ choice.id}}" />
                                  <label>
                                    {{ choice.choice_text | capitalize | escape }}</label>
                                </div>
                                  <br />
                                {% endfor %}
                                <input class="vote btn btn-success sr-only" type="submit" value="Vote" />
                              </form>
                          </div><!-- row-->
                        </div><!-- feed-post -->

                        <div class="feed-result {% if user in question.users_voted.all %}voted{% endif %} question-feed">

                                  {% if question.get_status != 'Pending' %}
                                    
                                      {% if question.pollsettings.presentation == 'show_everyone' %}
                                          <canvas id="bar-chart-horizontal{{ question.id }}" width="50%" height="50%"
                                            choices="{{ question.choice_set.all|choicelist|safe }}"
                                            votes="{{ question.choice_set.all|choicevotes|safe }}">
                                          </canvas>

                                          <script>
                                              {% if question.choice_set.all.count > 3 %}
                                                var graph_orientation = 'horizontalBar';
                                              {% else %}
                                                var graph_orientation = 'bar';
                                              {% endif %}
                                              var canvas = document.getElementById("bar-chart-horizontal{{ question.id }}");
                                              var ctx = canvas.getContext("2d");
                                              var data = {
                                                  labels : [{% for item in question.choice_set.all %}
                                                        "{{item.choice_text|safe}}",
                                                  {% endfor %}],
                                                  datasets : [
                                                    {
                                                      label: "Votes (%)",
                                                      backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                                                      data: [{% for value in question.choice_set.all %}
                                                            {% percentnosymbol value.votes question.total_votes %},
                                                      {% endfor %}],
                                                    }
                                                  ]
                                              }
                                              var options = {
                                                legend: { display: false },
                                                title: {
                                                  display: true,
                                                  text: 'Response in percentage (%)'
                                                },

                                              }
                                              // alert(labels)
                                              new Chart(ctx, {
                                                  type: graph_orientation,
                                                  data: data,
                                                  options: options
                                              });
                                          </script>

                                      {% elif question.pollsettings.presentation == 'hide_everybody' %}
                                          {% if question.get_status == "Closed" %}
                                              <canvas id="bar-chart-horizontal{{ question.id }}" width="50%" height="50%"
                                                choices="{{ question.choice_set.all|choicelist|safe }}"
                                                votes="{{ question.choice_set.all|choicevotes|safe }}">
                                              </canvas>
                                              <script>
                                                  {% if question.choice_set.all.count > 3 %}
                                                    var graph_orientation = 'horizontalBar';
                                                  {% else %}
                                                    var graph_orientation = 'bar';
                                                  {% endif %}
                                                  var canvas = document.getElementById("bar-chart-horizontal{{ question.id }}");
                                                  var ctx = canvas.getContext("2d");
                                                  var data = {
                                                      labels : [{% for item in question.choice_set.all %}
                                                            "{{item.choice_text|safe}}",
                                                      {% endfor %}],
                                                      datasets : [
                                                        {
                                                          label: "Votes (%)",
                                                          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                                                          data: [{% for value in question.choice_set.all %}
                                                                {% percentnosymbol value.votes question.total_votes %},
                                                          {% endfor %}],
                                                        }
                                                      ]
                                                  }
                                                  var options = {
                                                    legend: { display: false },
                                                    title: {
                                                      display: true,
                                                      text: 'Response in percentage (%)'
                                                    },

                                                  }
                                                  // alert(labels)
                                                  new Chart(ctx, {
                                                      type: graph_orientation,
                                                      data: data,
                                                      options: options
                                                  });
                                              </script>
                                          {% endif %}
                                      {% elif question.pollsettings.presentation == 'voters_only' %}
                                          {% if user in question.users_voted.all %}
                                              <canvas id="bar-chart-horizontal{{ question.id }}" width="50%" height="50%"
                                                choices="{{ question.choice_set.all|choicelist|safe }}"
                                                votes="{{ question.choice_set.all|choicevotes|safe }}">
                                              </canvas>
                                              <script>
                                                  {% if question.choice_set.all.count > 3 %}
                                                    var graph_orientation = 'horizontalBar';
                                                  {% else %}
                                                    var graph_orientation = 'bar';
                                                  {% endif %}
                                                  var canvas = document.getElementById("bar-chart-horizontal{{ question.id }}");
                                                  var ctx = canvas.getContext("2d");
                                                  var data = {
                                                      labels : [{% for item in question.choice_set.all %}
                                                            "{{item.choice_text|safe}}",
                                                      {% endfor %}],
                                                      datasets : [
                                                        {
                                                          label: "Votes (%)",
                                                          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                                                          data: [{% for value in question.choice_set.all %}
                                                                {% percentnosymbol value.votes question.total_votes %},
                                                          {% endfor %}],
                                                        }
                                                      ]
                                                  }
                                                  var options = {
                                                    legend: { display: false },
                                                    title: {
                                                      display: true,
                                                      text: 'Response in percentage (%)'
                                                    },

                                                  }
                                                  // alert(labels)
                                                    new Chart(ctx, {
                                                        type: graph_orientation,
                                                        data: data,
                                                        options: options
                                                    });
                                              </script>
                                          {% endif %}
                                      {% endif %}

                                  {% else %}
                                      <div class="timer{{question.id}}" data-date="{{question.publish|date:"Y/m/d"}} {{question.publish|time:"H:i" }}">
                                         <script type="text/javascript">
                                            var date_countdown = $('.timer'+{{question.id}}).attr('data-date');
                                            $('.timer'+{{question.id}})
                                            .countdown(date_countdown, function(event) {
                                              // $(this).children('h3').text(
                                              //   event.strftime('%D days %H:%M:%S')
                                              // );
                                              // the time distributed according to category
                                              $('span.countDays'+{{question.id}}).text(
                                                event.strftime('%-D')
                                              );
                                              $('span.countHours'+{{question.id}}).text(

                                                event.strftime('%-H')
                                              );
                                              $('span.countMins'+{{question.id}}).text(
                                                event.strftime('%-M')
                                              );
                                              $('span.countSeconds'+{{question.id}}).text(
                                                event.strftime('%S')
                                              );
                                            })
                                            .on('finish.countdown', function(){
                                              window.location.reload()
                                            })
                                          </script>
                                      </div><br/>
                                      <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                          <button class="counterbox">
                                            <h5 class="countdown-title">Days</h5>
                                              <span class="countDays{{question.id}}">
                                                    <span class="digit static"></span>
                                              </span>
                                          </button>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                          <button class="counterbox">
                                            <h5 class="countdown-title">Hours</h5>
                                              <span class="countHours{{question.id}}">
                                                  <span class="digit static"></span>
                                              </span>
                                          </button>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                          <button class="counterbox">
                                            <h5 class="countdown-title">Minute</h5>
                                              <span class="countMins{{question.id}}">
                                                <span class="position">
                                                    <span class="digit static"></span>
                                                </span>
                                              </span>
                                          </button>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                          <button class="counterbox">
                                            <h5 class="countdown-title">Seconds</h5>
                                              <span class="countSeconds{{question.id}}">
                                                <span class="position">
                                                    <span class="digit static"></span>
                                                </span>
                                              </span>
                                          </button>
                                        </div>
                                        <h3></h3>
                                      </div>

                                  {% endif %}
                        </div><!-- col-xs-5 question-feed-->

                    </div><!-- card-title -->

                    <div class="card-footer feed-footer">

                        <a class="view-comments" data-action="view" position="{{question.id}}" href="{% url "polls:comments" question.id %}">
                          {% with question.comments.count as total_comments %}
                            <span class="comment-count">{{ total_comments }}</span>
                            <span id="comment-text"><i class="fa fa-comment-o"></i></span>
                          {% endwith %}
                        </a>

                        {% with total_likes=question.user_liked.count users_like=question.user_liked.all %}
                        <a id="mylike" poll_type="{{question.poll_type}}" href="#like"
                          data-action="{% if request.user in users_like %}un{% endif %}like"
                          class="mylike{{question.id}}"
                          name="{{question.id}}" csrf="{{ csrf_token }}">
                          {% if request.user not in users_like %}
                          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                          <span class="count{{question.id}}">{{total_likes}}</span>
                          {% else %}
                          <span class="like-icon glyphicon glyphicon-heart"></span>
                          <span class="like-count count{{question.id}}">{{total_likes}}</span>
                          {% endif %}
                        </a>
                        {% endwith %}

                        <a class="share-count" poll_type="{{question.poll_type}}" questionid={{question.id}}
                          href="{% url "polls:share" question.id question.poll_type %}">
                          <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                          <span class="no-of-shares {{question.id}}"></span>
                        </a>

                        <a id="footer-vote" class="clickable {% if user in question.users_voted.all %}voted{% endif %}"
                        url="{% url 'polls:voters' %}" data-text="{{question.question_text}}" positionCounter="{{question.id}}">
                          votes
                          <span id="vote-count{{question.id}}" class="vote-count">{{question.total_votes}}</span>
                        </a>

                    </div><!-- card-footer -->

              </div><!-- feed-box-->
            {% endif %}
        {% endwith %}

      {% elif poll.poll_type == 'Quiz' %}

          {% with poll.quiz_poll as quiz %}
              {% if quiz.status == "Active" %}

                    <div class="feed-box">
                        <h5 class="h4 pull-right">
                            {{quiz.poll_type}}
                        </h5><!-- panel-heading -->

                      <div class="card-title">
                          <div class="quiz-post">
                            <div class="row">
                                <h3>
                                  {{quiz | escape|capitalize }}
                                </h3>
                                <div class="pull-right">
                                  <h5>
                                  {% if quiz.mode == 'timed' %}
                                    {{quiz.quiz_duration}} minute{{quiz.quiz_duration|pluralize}} |
                                  {% endif %}
                                  Allowed attempt: {{quiz.attempt}}</h5>
                                </div>
                            </div>
                          </div><!-- feed-post -->

                          <div class="quiz-instruct question-feed">
                            <div class="row">
                                <div class="start-button">
                                  <a id="id_start_quiz" href="{% url "polls:quiz_detail" quiz.id quiz.slug %}"
                                    class="btn btn-sm btn-default"> Start Quiz </a>
                                  {% for taker in quiz.quiztakerscore_set.all %}
                                    {% if user == taker.quiz_taker %}
                                      <h6 class="status-voted pull-right">You've made {{taker.number_of_attempt}} attempt{{taker.number_of_attempt|pluralize}}
                                        <span><i class="fa fa-thumbs-o-up"></i></span>
                                      </h6>
                                    {% endif %}
                                  {% endfor %}
                                </div>
                            </div><!-- row -->
                          </div><!-- quiz-instruct question-feed-->

                      </div><!-- card-title -->

                      <div class="card-footer feed-footer">
                            {% for setting in quiz.settings.all %}
                              {% if setting.share_poll != 'none' %}
                                <a class="share-count" poll_type="{{quiz.poll_type}}" questionid={{quiz.id}}
                                  href="{% url "polls:share" quiz.id quiz.poll_type %}">
                                  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                  <span class="no-of-shares"></span>
                                </a>
                              {% endif %}
                            {% endfor %}


                              <a class="twitter-share-button"
                                href="https://twitter.com/share?"
                                data-size="default"
                                data-text="Poll | {{quiz.title}}"
                                data-via ="pollsportal1"> tweet
                              </a>

                            {% with total_likes=quiz.user_liked.count users_like=quiz.user_liked.all %}
                              <a id="mylike" poll_type="{{quiz.poll_type}}"
                                data-action="{% if request.user in users_like %}un{% endif %}like"
                                class="mylike{{quiz.id}} btn btn-xs" data-toggle="tooltip"
                                data-placement="right"
                                title="{% for each in quiz.user_liked.all %}{% if each != user %}
              {{each.username}}{% else %}
              you{% endif %}{% endfor%}"
                                name="{{quiz.id}}" csrf="{{ csrf_token }}">
                                {% if request.user not in users_like %}
                                    Like
                                {% else %}
                                    Unlike
                                {% endif %}
                                <span class="like-count count{{quiz.id}}">{{total_likes}}</span>
                                </a>
                            {% endwith %}

                      </div><!-- card-footer -->
                    </div><!--feed-box  -->

                <!-- </div> -->
              {% endif %}
          {% endwith %}

      {% endif %}
    {% endfor %}
  </div>
{% endif %}
