<form method="post" action="{% url "polls:save_page" user.username %}"
    class="form-horizontal" role="form">
    {% csrf_token %}
    {% for field in form %}
          <div class ="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            <div class="fieldwrapper">
              {{ field }}
            </div>
            {% if field.help_text %}
               <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
    {% endfor %}
    <div class="settings-for-poll">
      <h3> Custom Settings for your poll </h3>
      {% for field in form2 %}
          <div class ="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            <div class="fieldwrapper">
              {{ field }}
            </div>
            {% if field.help_text %}
            <p class ="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
      {% endfor %}
    </div><!-- settings-for-poll-->
    <div class="form-group">
        <input id="submit-form" class="col-sm-offset-2 form-control" type="submit" value="submit poll"/>
    </div>
</form>
