{% load extra_tags %}
{% if questions %}

    {% for question in questions %}
    <div class="question-list col-sm-6 col-md-3">
      <div class="panel {% if show_comments %}panel-yellow{% elif show_likes %}panel-primary{% elif show_votes %}panel-green{% else %} panel-primary{% endif %}">
        <div class="panel-heading">
          <a href="{% url "polls:detail" question.id question.slug %}">
            {{question.question_text | capitalize }}</a>
        </div>
        <div class="panel-body">
          status: {{question.status}}
          {% if show_votes %}
            <h4>votes:<span> {{question.users_voted.all.count}}</span></h4>
          {% endif %}
          {% if show_likes %}
            <p>Likes: {{question.user_liked.all.count}}</p>
          {% endif %}
          {% if show_comments %}
            {% with question.comments.count as total_comments %}
              <h4>comment{{total_comments|pluralize}}: {{total_comments}}</h4>
              <!-- <h4>comment{{total_comments|pluralize}}: {{ total_comments }}</h4> -->
            {% endwith %}
            {% for comment in question.comments.all %}
              {% if comment.name == username %}
                <h5>{{comment.created}}
                  {% if user.username == comment.name %}
                  <a href="{% url "polls:dashboard" user.username %}">you</a> say:
                  {% else %}
                  {{comment.name}} says:
                  {% endif %}
                </h5>
                {{comment.body|linebreaks}}
              {% endif %}
            {% endfor %}
          {% endif %}

        </div>
        <div class="panel-footer">
          {% if show_user %}
          Created by:
            <a href="{% url 'polls:user_page' question.owner.username %}">
              {% if question.owner.username == request.user.username %}
                you
              {% else %}
                {{question.owner.username | escape }}
              {% endif %}
            </a>
          {% endif %}
        </div>
      </div><!-- panel -->
    </div>
    {% endfor %}


  {% if show_paginator %}
  <div class="row text-center">
    <div class="col-lg-12">
      <ul class ="pagination">
        {% if has_previous %}
        <li>
          <a id="previouspage" view="{{view_function}}" page="{{prev_page}}" href="?page={{ prev_page }}">&laquo; Previous</a>
        </li>
        {% endif %}
        {% if has_next %}
        <li>
          <a id="nextpage" view="{{view_function}}" page="{{next_page}}" href="?page={{ next_page }}">Next &raquo; </a>
        </li>
        {% endif %}
        <li>
        <a href="#" >Page {{page}} of {{pages}}</a>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}
{% else %}
  <p>No feature polls found</p>
{% endif %}
