{% load staticfiles %}
<script type="text/stylesheet" src="{% static 'polls/css/base.css' %}"></script>
{% load extra_tags %}
      <div class="row">
          <h3>
            {{question.question_text | escape|capitalize }}</h3>
          <form action='{% url 'polls:vote' question.id %}' method='post'>
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <div data-value="{{choice.id}}" loopnum="{{forloop.counter}}" questionId={{question.id}}
              class="vote-btn btn btn-default btn-md btn-block">
              <input type ='hidden' name='choice' id='choice{{forloop.counter}}'
                  value="{{ choice.id}}" />
              <label>
                {{ choice.choice_text | capitalize | escape }}</label>
            </div>
              <br />
            {% endfor %}
            <input class="vote btn btn-success sr-only" type="submit" value="Vote" />
          </form>
      </div><!-- row-->
