{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block title %} Create a Poll {% endblock %}
{% block head %}<div class="page-header">Create a poll</div>{% endblock %}
{% block external %}
  <script type="text/javascript" src="{% static "polls/js/questionForm.js" %}"></script>
{% endblock %}
{% block content %}
{% if form.errors %}
  <div class="alert alert-danger" role="alert">
    <p><strong>{{form.question.errors}}</strong></p>
  </div>
{% endif %}
<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-6 form-group">
  <p>Fill out the form below to create a poll.</p>
  <p>Note: You can also vote on polls you created.</p>
  <div class="form-group">

    <form method="post" action="." class="form-horizontal" role="form">
        {% csrf_token %}
        {% for field in form %}
              <div class ="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                <div class="fieldwrapper">
                  {{ field }}
                </div>
                {% if field.help_text %}
                   <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>
        {% endfor %}
      <div class="form-group">
        <button class="col-sm-6 col-sm-offset-4 btn btn-lg btn-success" type="submit" value="save">
              create poll</button>
        </div>
    </form>
  </div><!-- form group-->
</div><!--row -->
</div><!-- container -->
{% endblock %}
