{% load staticfiles %}
<script type="text/javascript" src="{% static "polls/js/quizform.js" %}"></script>
<script type="text/javascript" src="{% static "polls/js/quizform_styling.js" %}"></script>

<div class="col-md-4 col-md-push-8 target">
  <div class="panel panel-green">
    <div class="panel-heading">
      Quiz title: {{quiz}}
    </div><!-- panel-heading-->
    <div class="panel-body">
      <div class="quiz-details">
          {% if quiz.quizquestion_set.all.count > 0 %}
            <ol>
              {% for question in quiz.quizquestion_set.all %}
              <div class="section">
                <li><h4>{{ question }}</h4>
                  {% if question.question_type == 'open' %}
                    <p class="small">
                      <strong>Answer:</strong><h5>{{ question.open_answer }}</h5>
                    </p>
                  {% else %}
                  <ul>
                    {% for choice in question.quizchoice_set.all %}
                      <li><h5>{{choice}}
                        <span>{% if choice.answer %}<i class="fa fa-check">{% endif %}</i>
                        </span>
                        </h5>
                      </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <a class="edit-question small" href="{% url "polls:edit_quiz_question" question.id %}">edit</a>
                </li>
              </div>
              {% endfor %}
            </ol>
          {% else %}
            You have not saved any quiz question
          {% endif %}
      </div>
    </div><!-- panel-body-->
  </div><!-- panel-green -->
</div><!--col-md-6-->

<div class="clearfix visible-xs"></div>

<div class="col-md-5 col-md-pull-3">
  <div class="main-quiz-form-container">
    <div class="question-box">
      <form id="add-quiz-question" method ="post" action ="{% url "polls:save_quiz" quiz.id %}">
        {% csrf_token %}
        {{ question_formset.management_form }}
        {% for form,choice_formset in formset %}
        <fieldset>
          <legend>Question</legend>
          <div class="section">
          {{ form.as_p }}
          {{ choice_formset.management_form }}
          {% for choice in choice_formset %}
          <div class="item">
            {{ choice.as_p }}
            <p style=""><a prefix="" class="delete" href="#">remove</a></p>
          </div>
          {% endfor %}
          <button id="add-option" prefix="" type="button" class="btn btn-primary btn-xs">Add option</button>
          </div>
        </fieldset>
        {% endfor %}
        <input class="add-question" type="submit" name="add" value="add question"/>
        <span>
          <a href="{% url "polls:edit_quiz" quiz.id %}">Edit Whole Quiz</a>
        </span>
      </form>
    </div><!-- question-box -->
  </div><!-- main-quiz-form-container -->
</div><!-- col-md-6-->
