{% load staticfiles %}
<script type="text/javascript" src="{% static "polls/js/quizform.js" %}"></script>
<script type="text/javascript" src="{% static "polls/js/quizform_styling.js" %}"></script>

{% if form %}
  <form id="single_question_edit" method="post" action="{% url "polls:edit_quiz_question" quiz_question.id %}">
    <p class="initial_data hidden" url="{% url "polls:pre_save_quiz" user.username %}?quiz_edit={{quiz.id}}" quiz_id="{{quiz.id}}"></p>
    {% csrf_token %}
  <div class="section">
    {{ form.as_p }}
    <p class="answer-item">
      <label for="id_open_answer">provide an answer:</label>
      <input type="text" name="quizquestions-open_answer{{quiz_question.id}}"
        value="{{quiz_question.open_answer}}" id="id_open_answer" />
    </p>
    {{ choice_formset.management_form }}
    {% for choice in choice_formset %}
    <div class="item">
      {{ choice.as_p }}
    </div>
    {% endfor %}
  </div>
    <p><span id="add-option" prefix="{{quiz_question.id}}" class="btn btn-primary btn-xs">Add option</span>
      <span>
      <input type="submit" name="submit-edited" value="Apply changes"/></span>
    </p>
</form>
{% endif %}
