{% load staticfiles %}
{% load extra_tags %}
{% if quiz %}
  {% if show_result %}
    {% if messages %}
    <div class="alert alert-dismissable" role='alert'>
      <button type="button" class="close" data-dismiss="alert"
        aria-hidden="true">&times;</button>
      <ul class="messages alert-{{message.tags}}">
        {% for message in messages %}
          <li class="alert alert-{{message.tags}} alert-dismissable">
            {{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="page-header">{{ quiz|capitalize }}
        </h2>
        <div class="quiz-result">
          <ol>
          {% for question in quiz.quizquestion_set.all %}
            <li>{{ question }}
              {% if question.question_type == "choice" %}
              <ul>
                {% for choice in question.quizchoice_set.all %}
                  <li><h5>{{choice}}
                    <span><!-- logic to show user's chosen answer -->
                      {% if choice.answer %}
                        {% if choice in choice_answers%}
                          <i class="fa fa-check"></i>
                        {% endif %}
                      {% else %}
                        {% if choice in choice_answers %}
                        <i class="fa fa-times"></i>
                        {% endif %}
                      {% endif %}
                    </span>
                    </h5>
                  </li>
                {% endfor %}
              </ul>
              {% else %}
                {% for answer in open_answers %}
                  {% if answer.quiz_question == question %}
                    {{ answer }} <span>
                      {% if answer.submitted_answer == question.open_answer.answer %}
                        <i class="fa fa-check"></i>
                      {% else %}
                        <i class="fa fa-times"></i>
                      {% endif %}
                    </span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </li>
          {% endfor %}
          </ol>
        </div>
      </div>
    </div><!-- row -->
  {% else %}
    <div class="error-message">
      {% if messages %}
      <div class="alert alert-dismissable" role='alert'>
        <button type="button" class="close" data-dismiss="alert"
          aria-hidden="true">&times;</button>
        <ul class="messages alert-{{message.tags}}">
          {% for message in messages %}
            <li class="alert alert-{{message.tags}} alert-dismissable">
              {{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  {% endif %}
{% endif %}
