{% load staticfiles %}
<script type="text/javascript" src="{% static "polls/js/quizform.js" %}"></script>

<div class="panel panel-green">
  <div class="panel-heading">
    Quiz title: {{quiz}}
  </div><!-- panel-heading-->
  <div class="panel-body">
    <div class="quiz-details">
        {% if quiz.quizquestion_set.all.count > 0 %}
          <ol>
            {% for question in quiz.quizquestion_set.all %}
            <div class="section">
              <li><h4>{{ question }}</h4>
                {% if question.question_type == 'open' %}
                  <p class="small">
                    <strong>Answer:</strong><h5>{{ question.open_answer }}</h5>
                  </p>
                {% else %}
                <ul>
                  {% for choice in question.quizchoice_set.all %}
                    <li><h5>{{choice}}
                      <span>{% if choice.answer %}<i class="fa fa-check">{% endif %}</i>
                      </span>
                      </h5>
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
                <a class="edit-question small" href="{% url "polls:edit_quiz_question" question.id %}">edit</a>
              </li>
            </div>
            {% endfor %}
          </ol>
        {% else %}
          You have not saved any quiz question
        {% endif %}
    </div>
  </div><!-- panel-body-->
</div><!-- panel-green -->
