{% extends 'polls/base.html' %}
{% block title %}Most Recent Polls{% endblock %}
{% block head %}Polls created by {{ creator.username | capfirst }}{% endblock %}
{% block content %}
<div id="recent">
  <p> </p>
  {% include "polls/questions_list.html" %}
</div>

{% endblock %}
