<div id="recent">
  <h2>Recent polls</h2>
  <p> These are polls created less than 48hrs ago</p>
  {% include "polls/questions_list.html" %}
  {% if more_view %}
  <div class='row'>
    <a class="btn btn-primary" href="{% url "polls:recent" %}">more</a>
  </div>
  {% endif %}
</div>
