{% load extra_tags %}
{% load staticfiles %}
{% if question %}
    <div class="text-center">
      <h4>{{question.question_text}}
      </h4>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Poll choices</th>
            <th>Male votes</th>
            <th>Female votes</th>
            <th>Total votes</th>
            <th>Percentage (%)</th>
          </tr>
        </thead>
        <tbody>
          {% for choice in question.choice_set.all %}
          <tr>
            <td>{{choice.choice_text}}</td>
            <td>{{choice.m_votes}}</td>
            <td>{{choice.f_votes}}</td>
            <td>{{choice.votes}}</td>
            <td>{% percentnosymbol choice.votes tot_votes %}</td>
          </tr>
          {% endfor %}

          <tr>
            <td>Total</td>
            <td>{{male_votes}}</td>
            <td>{{female_votes}}</td>
            <td>{{tot_votes}}</td>
            <td>{% percentnosymbol tot_votes tot_votes %}</td>
          </tr>

          <tr>
            <td>Percentage</td>
            <td>{% percentnosymbol male_votes tot_votes %}</td>
            <td>{% percentnosymbol female_votes tot_votes %}</td>
            <td></td>
            <td>{% percent tot_votes tot_votes %}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- table-responsive-->
{% else %}
 <div>
   <h4>you have to vote before viewing result </h4>
 </div>
{% endif %}
<div class="pull-right">
  <a class="question-link" href="{% url "polls:detail2" question.id %}">back</a>
  | <a href="{% url "polls:results" question.id question.slug %}"> detail analysis</a>
</div>
