{% extends 'polls/base.html' %}
{% load extra_tags %}
{% load staticfiles %}
{% block title %}Poll Results{% endblock %}
{% block head %}{% endblock %}
{% block external %}
  <script type="text/javascript" src="{% static "polls/js/resultComment.js" %}"></script>
{% endblock %}
{% block content %}
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '389801957856926',
    xfbml      : true,
    version    : 'v2.6'
  });
};
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/yo_NG/sdk.js#xfbml=1&version=v2.6&appId=389801957856926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

    <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="page-header">
          <h2>POLL RESULT: <small>{{ question.question_text | capitalize }}</small></h2>
        </div>
      </div><!-- col-sm-8 -->
      <div class="details col-sm-4 col-md-4 col-lg-4">
        <form class="navbar-form navbar-right" role="search"
            method="get" action="{% url 'polls:search' %}">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" placeholder="search for people, polls or category"
              width="50px" id="id_query" name='query' size='32' class="form-control">
          </div>
          <button type="submit" class="btn btn-sm btn-success" value="search">
            <i class="fa fa-search fa-2x"></i></button>
        </form>
      </div><!-- col-sm-4 -->
    </div>
  {% if not user.is_authenticated %}
    <div class="alert alert-warning" role="alert">
      Note: You need to Login (above) or <a href="{% url "account:register" %}">
        sign up</a> before you can vote on polls
    </div>
  {% endif %}

  <div class="row">
    <div class="details col-sm-5">
      <div class="panel panel-details">
        <div class="panel-heading">
          <h4></h4>
        </div>
        <div class="panel-body">
          <a href="{% url "polls:graph" question.id %}">
            <img src="{% url "polls:graph" question.id %}" class="img-responsive"
             height="50px" alt="Response image">
          </a>
        </div><!--panel-body -->
      </div><!--panel-->
    </div><!--col-sm-5 -->
    <div class="col-sm-7">
      <div class="panel poll-result">

            {% for choice in question.choice_set.all %}

              <div class="row">
                <div class="col-sm-11">
                  <div class="panel panel-heading">

                    <span class="huge2 pull-left">{{ choice.choice_text | capitalize }}</span>
                    <div class="row">
                      <div class="col-sm-4 pull-right">
                        <div class="panel panel-green">
                          <div class="panel-heading">
                            <p>{% percent choice.votes tot_votes %}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 pull-right">
                        <div class="panel panel-red">
                          <div class="panel-heading">
                            <p class="vote-count">{{ choice.votes }}
                            <small>vote{{ choice.votes|pluralize }}</small></p>
                          </div>
                        </div>
                      </div><!-- col-sm-3 -->
                    </div>

                  </div>
                </div>
              </div>

            {% endfor %}
      </div><!-- poll-options -->
    </div><!-- col-sm-5-->
  </div><!-- row -->
  <p>Go back <a href="{% url 'index' %}">main page</a> |
    <a href="{% url 'polls:detail' next_question.id next_question.slug %}">next Poll</a>
  </p>
  <div class="page-header">
    <h1></h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Gender</th>
              <th>Votes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Male</td>
              <td>{{male_votes}}</td>
            </tr>
            <tr>
              <td>Female</td>
              <td>{{female_votes}}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td><strong>{{tot_votes}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div><!-- table-responsive-->
    </div><!-- col-md-4-->

    <div class="result-table col-md-7">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Poll choices</th>
              <th>Male</th>
              <th>Female</th>
            </tr>
          </thead>
          <tbody>
            {% for choice in question.choice_set.all %}
            <tr>
              <td>{{choice.choice_text | capitalize }}</td>
              <td>{% percent choice.m_votes male_votes %}</td>
              <td>{% percent choice.f_votes female_votes %}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div><!-- table-responsive -->
    </div>
  </div>

  <div
    class="fb-like"
    data-share="false"
    data-width="450"
    data-show-faces="true">
  </div>

  <div class="row">
    <div id="comments" class="col-md-5">
      <div>
        <div class="fb-comments" data-href="https://www.pollsportal.com/polls/{{ question.id }}/{{question.slug}}/results" data-width="380" data-numposts="5"></div>
      </div>
      {% with comments.count as total_comments %}
        <h4>{{ total_comments }} comment{{total_comments|pluralize}}</h4>
      {% endwith %}
      {% for comment in comments %}
      <div class='comment'>
        <p class="info"><em>
          <strong>{{ comment.name }}</strong> on
          {{ comment.created }}</em>
        </p>
        {{ comment.body|linebreaks }}
      </div>
      {% empty %}
        <p>There are no on-site comments yet for this poll.</p>
      {% endfor %}
      {% if new_comment %}
        <h3>Your comment has been added.</h3>
      {% else %}
        <h4 class="show-comment-box btn btn-success">Add a new on-site comment</h4>
        <div class="comment-box">
          <form action="." method="post">
            <p><label for ="id_body">comment:</label></p>
            <p><textarea cols ="30" id="id_body" name="body" rows="6"></textarea></p>
            {% csrf_token %}
            <p><input class="btn btn-primary" type='submit' value="Add comment"></p>
          </form>
        </div><!-- comment-box -->
      {% endif %}
    </div>
  </div><!--row-->
{% endblock %}
