{% extends 'polls/base.html' %}
{% block title %}Search{% endblock %}
{% block head %}Search poll questions {% endblock %}
{% block content %}
<form method="get" action=".">
  {{ form.as_p }}
  {% csrf_token %}
  <input type="submit" value="search" />
</form>
<br/>
<div id="search-results">
  <div>
  <h3>People results</h3>
    <ul class='users'>
      {% for person in users %}
      <li><a href="{% url "polls:user_page" person.username %}">
      @{{person.username}}</a> |
        (<a href="{% url "polls:user_page" person.username %}">
        {{person.get_full_name}}</a>)<br>
        joined: {{person.date_joined}}
      </li>
      {% endfor %}
    </ul>
  </div>
  <h3>Search results</h3>
  {% if show_search_results %}
    {% include 'polls/questions_list.html' %}

  {% endif %}
</div>
{% endblock %}
