{% load staticfiles %}
<script type="text/javascript" src="{% static 'polls/js/share_poll.js' %}"></script>
{% if question %}
    <div class="shared-content">
      <div class="content-title"><strong>Share: </strong> {{question}}</div>
      <div class="share-type">Share with:
        <label for="id_group">
          <input type="radio" name='group' id="id_group"
            value="my groups"/> groups
        </label>
        <label for="id_friend">
          <input type="radio" name='friend' id="id_friend"
            value="my friends"/> friends
        </label>
      </div>
        <div class="share-with-friends">
          {% if friends %}
          Friends:
          <form class="form-horizontal" action="{% url "polls:share" question.id question.poll_type %}" method="post">
            {% csrf_token %}
            <ul class="share-poll">
              <input type="hidden" name="invite_type" value="friend"/>
              <input type="hidden" name="poll_type" value="{{question.poll_type}}"/>
              <p class="small">Your followers</p>
              {% for friend in followers %}
                <div>
                  <label for="id_follower_{{forloop.counter}}">
                    <input type="checkbox" name='friend{{forloop.counter}}' id="id_follower_{{forloop.counter}}"
                      value="{{friend.id}}"/> {{friend}}
                  </label>
                </div>
              {% endfor %}
              <p class="small">Those you follow</p>
              {% for friend in friends %}
                <div>
                  <label for="id_friend_{{forloop.counter}}">
                    <input type="checkbox" name='friend{{forloop.counter}}' id="id_friend_{{forloop.counter}}"
                      value="{{friend.id}}"/> {{friend}}
                  </label>
                </div>
              {% endfor %}
            </ul>
            <input id="submit-share" class="pull-right btn btn-success" type="submit" value="share" />
          </form>
          {% else %}
            You have no follower nor friends yet!
          {% endif %}
        </div>
        <div class="share-with-groups">
          {% if groups %}
            <form class="form-horizontal" action="{% url "polls:share" question.id question.poll_type %}" method="post">
              {% csrf_token %}
              <ul class="share-poll">
                <input type="hidden" name="invite_type" value="group"/>
                <p class="small">My groups</p>
                {% for group in groups %}
                  <div>
                    <label for="id_group_{{forloop.counter}}">
                      <input type="checkbox" name='group{{forloop.counter}}' id="id_group_{{forloop.counter}}"
                        value="{{group.id}}"/> {{group}}
                    </label>
                  </div>
                {% endfor %}
              </ul>
              <input id="submit-share" class="pull-right btn btn-success" type="submit" value="share" />
            </form>
          {% else %}
            You have no group yet
          {% endif %}
        </div><!-- "share-with-groups" -->
        <div class="share-on-twitter">
          <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet?text={{question.question_text}}"
            data-size="default"
            data-url="{% url 'polls:detail' question.id question.slug %}"
            data-via ="pollsportal1"> tweet
          </a>
        </div>

    </div>
{% endif %}
