{% extends 'polls/base.html' %}
{% block title %}{{head_title}}{% endblock %}
{% block head %}<div class="page-header">TERMS OF SERVICE </div>{% endblock %}
{% block content %}
  <p><strong><i>Effective date: 25th June, 2016</i></strong></p>

  <p>Please Read Carefully Before Using The PollsPortal Website and Service: The
    following terms and conditions ("Terms of Service") govern your use of the
    PollsPortal website (the "Site") and services accessed through the Site (collectively,
    the "Service") operated by PollsPortal ("PollsPortal", "we" or "us"). By accessing
    and using the Service and/or any information, content or materials made available
    on the Service, you irrevocably agree that such use is subject to these
    Terms of Service. If you do not agree to these Terms of Service, you may not
    use the Service.
  </p>
  <p>You should check these Terms of Service and this Site from time to time for
    modifications. PollsPortal may modify the Site and/or the Terms of Service
    from time to time without notice to you. If PollsPortal makes material changes
    to the Terms of Service we will post the revised Terms of Service and the
    revised effective date on this Site. Any continued use by you of the Service
    after the posting of such modified Terms of Service shall be deemed to indicate
    your irrevocable agreement to such modified Terms of Service. Accordingly,
    if at any time you do not agree to be subject to any modified Terms of Service,
    you may no longer use the Service.
  </p>
  <h4>1. USE OF THE SERVICE</h4>
  <p>(a) Registered Users: In order to gain access to some parts of the Service,
    you are required to register for an account that is accessed by a username/email
    and password ("Account"). In registering for your Account, you agree (i) that
    the information you provide to PollsPortal in connection with your registration
    will be current, complete and accurate, (ii) not to choose a user name that
    violates any law or the intellectual property rights of others, or is offensive;
    provided that PollsPortal reserves the right to reject the use of any user name
    for any reason or no reason, (iii) not to transfer, sell, convey or assign the
    right to use your Account to any third party without the prior written consent
    of PollsPortal and (iv) not to permit any third party to use your user name
    and password to access your Account or the Service. You further agree that you
    are responsible for the conduct of any party that uses your Account, whether
    or not authorized by you, and for any breach of the security of the Service
    related to the use of your user name and/or password.
  </p>
  <p>(b) Grant of Rights: Upon registration, PollsPortal grants you the limited,
    revocable, non-transferable, non-exclusive right to access and use the Service,
    under the condition that such activity is solely for your internal purposes,
    except as may expressly agreed to in writing by PollsPortal.
  </p>
  <p>(c) Privacy Policy: In the course of your use of the Site or the Service,
    you may be asked to provide certain information to us. PollsPortal's use of
    any information you provide shall be governed by these Terms of Service and
    our Privacy Policy available at <a href="{% url "privacy" %}"/>
    https://www.pollsportal.com/privacy_policy.</a>
    We urge you to read our Privacy Policy, which is hereby incorporated into and
    made a part of these Terms of Service by this reference as though fully set
    forth herein.
  </p>
  <p>(d) Submission of User Content: In connection with your use of the Service,
    you agree not to submit any content which (i) is unlawful, (ii) violates any
    right of publicity or invades the privacy of others, (iii) constitutes obscene,
    pornographic, indecent, profane or otherwise objectionable material, (iv) is
    discriminatory, hateful or bigoted toward, or abusive of, any group or individual,
    (v) is libelous or defamatory or (vi) violates any applicable law or government
    regulation. You represent and warrant that you own or have the necessary
    rights in and to any and all content that you upload or post to the Site or
    Service. You hereby grant to PollsPortal a non-exclusive, royalty-free license
    to use, store, reproduce and display any content you post on the Site or Service,
    solely as reasonably necessary to operate the Site or the Service, and
    subject to the terms of this Agreement, including our Privacy Policy.
  </p>
  <p>(e) Prohibited Conduct: PollsPortal specifically prohibits any use of the
    Site or Service, for: (i) posting any (1) information which is incomplete,
    false, inaccurate or not your own, (2) trade secrets or material that is
    copyrighted or otherwise owned by a third party unless you have a valid
    license from the owner which permits you to post it or (3) material that
    infringes on any other intellectual property, privacy or publicity right of
    another; (ii) impersonating another person; (iii) engaging in or encouraging
    conduct that would constitute a criminal offense, give rise to civil liability
    or otherwise violate any city, state, national or international law or regulation,
    or which fails to comply with accepted Internet protocol; or (iv) transmitting
    or transferring (by any means) information or software derived from the Site
    to foreign countries or certain foreign nations in violation of Nigeria
    export control laws. In addition, you are prohibited from violating or
    attempting to violate the security of the Site, Service or PollsPortal's
    system or network security, including, without limitation, the following:
    (w) accessing data not intended for users of the Site or Services, or gaining
    unauthorized access to an account, server or any other computer system;
    (x) attempting to probe, scan or test the vulnerability of a system or
    network or to breach security or authentication measures; (y) attempting to
    interfere with the function of the Site, Service, host or network, including,
    without limitation, via means of submitting a virus to the Site, overloading,
    "flooding", "mailbombing", "crashing", or sending unsolicited e-mail, including
    promotions and/or advertising of products or services; or (z) forging any
    TCP/IP packet header or any part of the header information in any e-mail or
    newsgroup posting. You may not deploy to the Site or Service any robot,
    spider, site search/retrieval application, or other application designed to
    retrieve, index or "data mine," information from the Site or Service.
    You agree at all times to use the Site and the Service in compliance with
    applicable law and these Terms and Conditions.
  </p>
  <p>(f) Prohibited Use: Subscriber represents and warrants that neither Subscriber
    and nor any Authorized User shall use the Services (including without
    limitation by asking for such information in a poll created using the Services)
    to collect from Poll Participants any of the following information:
    (i) National identity number; (ii) driver’s license number, State identification
    card number or passport number; (iii) financial account number;
    (iv) credit, debit or other payment card number; (v)security code or password;
    (vi) Bank Verification Number (vii) medical information; or (viii) health
    insurance information. If Subscriber collects such information, Subscriber
    does so at its own risk, and in no event shall PollsPortal be liable for any
    loss, damages, claims or otherwise arising out of related to Subscriber’s
    collection of such information, whether arising in tort (including negligence),
    contract or any other legal theory, including without limitation, any such
    information in the care, custody or control of PollsPortal.
  </p>
  <p>(g) Indemnification: You hereby irrevocably agree to indemnify, defend and
    hold PollsPortal, its affiliates, directors, officers, employees and agents
    harmless from and against any and all losses, costs, damages, liabilities and
    expenses (including attorneys' fees) arising out of or related to your use of
    the Service.
  </p>
  <p>(h) Termination: You may terminate your Account at any time. PollsPortal,
    in its sole discretion, has the right to suspend or terminate your Account
    and your access to the Service, for any reason at any time. Any termination
    of your Account will result in the deletion of your Account and the content
    in it, and the termination of your access to Service. PollsPortal reserves
    the right to refuse service to anyone for any reason at any time.
  </p>
  <h4>2. CHANGES TO THE SERVICE; SUSPENSION OR TERMINATION OF USE RIGHTS</h4>
  <p>(a) Changes to the Service: PollsPortal reserves the right to make changes
    to the Service, at any time, with or without providing notice to you.
    In the event that you do not agree with any changes to the Service, your
    only remedy shall be to cease using the Service.
  </p>
  <p>(b) Suspension or Termination of Use Rights: PollsPortal may suspend or
    terminate your right to use the Service for any reason or no reason upon
    notice to you. PollsPortal shall not be liable to you or to any third party
    for any modification, suspension or discontinuance of the Service.
    Such termination of the Service will result in the deactivation or deletion
    of your Account, and the forfeiture and relinquishment of all information in
    your Account. PollsPortal reserves the right to refuse service to anyone
    for any reason at any time.
  </p>
  <h4>3. LINKS FROM AND TO THE SITE</h4>
  <p>PollsPortal reserves the right, at its discretion at any time, to deny any
    request, or rescind any permission granted, to link to the Site, and to
    require termination of any such link to the Site. You may be able to link
    to third party websites ("Linked Sites") from the Site. Linked Sites are not,
    however, reviewed, controlled or examined by PollsPortal in any way and
    PollsPortal is not responsible for the content, availability, advertising,
    products, information or use of user information or other materials of any
    such Linked Sites, or any additional links contained therein. These links
    do not imply PollsPortal's endorsement of, or association with, the Linked
    Sites. In no event shall PollsPortal be liable, directly or indirectly, to
    anyone for any loss or damage arising from or occasioned by the creation or
    use of the Linked Sites or the information or material accessed through these
    Linked Sites.
  </p>
  <h4>4. DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</h4>
  <p>(a) Warranty Disclaimer: THE SITE, SERVICE AND CONTENT ARE PROVIDED STRICTLY
    ON AN "AS IS" AND "AS AVAILABLE" BASIS, AND POLLSPORTAL MAKES NO WARRANTY
    THAT THE SITE, SERVICE OR CONENT ARE COMPLETE, SUITABLE FOR YOUR PURPOSE,
    OR ACCURATE. ON BEHALF OF ITSELF AND ITS LICENSORS, POLLSPORTAL HEREBY EXPRESSLY
    DISCLAIMS ANY AND ALL IMPLIED, STATUTORY OR OTHER WARRANTIES WITH RESPECT TO
    THE SITE, SERVICE AND CONTENT, OR THE AVAILABILITY OF THE SITE, SERVICE OR
    CONTENT, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFIRNGEMENT. THE ENTIRE RISK AS TO
    RESULTS OBTAINED THROUGH USE OF THE SITE AND SERVICE RESTS WITH YOU AND POLLSPORTAL
    MAKES NO REPRESENTATION OR WARRANTY THAT THE SERVICE AVAILABILITY WILL BE
    UNINTERRUPTED, OR THE SITE, SERVICE AND/OR THE CONTENT WILL BE ERROR FREE.
  </p>
  <p>(b) Limitation of Liability: TO THE FULLEST EXTENT PERMITTED BY APPLICABLE
    LAW, YOU AGREE THAT POLLSPORTAL SHALL NOT BE LIABILE TO YOU FOR ANY DAMAGES
    ARISING OUT OF OR CONNECTED TO YOUR USE OF, OR INABILITY TO USE, THE SITE
    OR THE SERVICE, INCLUDING, WITHOUT LIMITATION, ANY AND ALL DIRECT, INDIRECT,
    INCIDENTAL, CONSEQUENTIAL, PUNITIVE, SPECIAL, EXEMPLARY OR STATUTORY DAMAGES
    (INCLUDING, WITHOUT LIMITATION, LOSS OF BUSINESS, LOSS OR PROFITS, LOSS OF
    REVENUE, LOSS OF DATA., LOSS OF GOODWILL OR FOR ANY COST OF COVER OR COST
    OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES), EVEN IF POLLSPORTAL HAS
    BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND REGARDLESS OF THE LEGAL
    THEORY UNDER WHICH DAMAGES ARE SOUGHT, WHETHER IN BREACH OF CONTRACT OR IN
    TORT, INCLUDING NEGLIGENCE.
  </p>
  <h4>5. GENERAL</h4>
  <p>These Terms of Service constitute the entire agreement and understanding between
    the parties concerning the subject matter hereof, notwithstanding any different
    or additional terms that may be contained in the form of purchase order or
    other document used by you to place orders or otherwise effect transactions
    hereunder, which such terms are hereby rejected. These Terms of Service
    supersede all prior or contemporaneous discussions, proposals and agreements
    between you and PollsPortal relating to the subject matter hereof. No amendment,
    modification or waiver of any provision of these Terms of Service will be
    effective unless in writing and signed by an officer of PollsPortal.
    If any provision of these Terms of Service is held to be invalid or unenforceable,
    the remaining portions will remain in full force and effect and such provision
    will be enforced to the maximum extent possible so as to effect the intent
    of the parties and will be reformed to the extent necessary to make such
    provision valid and enforceable. No waiver of rights by PollsPortal may be
    implied from any actions or failures to enforce rights under these Terms of
    Service. These Terms of Service are intended to be and are solely for the
    benefit of PollsPortal and you and do not create any right in favor of any
    third party. These Terms of Service will be governed by and construed in
    accordance with the laws of the Federal Republic of Nigeria, without
    reference to its conflict of laws principles.
  </p>
{% endblock %}
