{% load staticfiles %}
    <div class="card-title">
        {{username}} |
        {% if request.user != person %}
        <a id="follow" data-action="{% if request.user in person.followers.all %}un{% endif %}follow"
          class="follow{{person.id}} btn btn-success btn-xs"
          name="{{person.id}}" csrf="{{ csrf_token }}"
          href="/polls/friend/follow/?username={{ username | urlencode}}">
          {% if request.user not in person.followers.all %}
              Follow
          {% else %}
              Unfollow
          {% endif %}
          </a>
        {% endif %}

    </div>
    <div class="card-block">
      <p>Joined: {{person.date_joined}}</p>
      <div class="row">
        <div class="poll-count col-sm-6 col-md-6">
          <p>Polls</p>
              <a class="h3" href="/polls/recent/?username={{person.username | urlencode}}">{{polls.count}}
              </a>
        </div><!-- col-sm-6 col-md-6-->
        <div class="like-count col-sm-6 col-md-6">
           <p>Likes</p>
              <a class="h3" href="{% url "polls:liked_polls" person.username %}">{{likes.count}}
              </a>
        </div><!-- col-sm-6 col-md-6-->
        <div class="follower-count col-sm-6 col-md-6">
           <p>Followers</p>
              <a class="h3" href="{% url "polls:friends" person.username %}">{{followers.count}}
              </a>
        </div><!-- col-sm-6 col-md-6-->
        <div class="following-count col-sm-6 col-md-6">
          <p>Following</p>
              <a class="h3" href="{% url "polls:friends" person.username %}">{{following.count}}
              </a>
        </div><!-- col-sm-6 col-md-6-->
      </div><!-- row-->
    </div>
