{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block title %} {{user.username}} {% endblock %}
{% block external %}
  <script type="text/javascript" src="{% static "polls/js/dashboard.js" %}"></script>
{% endblock %}
{% block content %}

<div class="col-sm-5 col-md-4">
  <div class="card">
    <div class="card-header">Details </div>
    {% include 'polls/user_page_ajax.html' %}
  </div>
</div>

<!-- /.row -->

{% endblock %}
