{% extends 'polls/base.html' %}
{% block title %}Polls Portal{% endblock %}
{% block head %}<div class="page-header">Thank you </div>{% endblock %}
{% block content %}
	<div>
		You can create a free account to vote on more polls
		<a href="{% url 'account:register' %}" class="btn btn-lg btn-default">Sign up</a> | <a class="facebook btn btn-sm btn-primary" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Sign in with Facebook</a> | 
        <a class="google btn btn-sm btn-danger" href="{% url 'social:begin' 'google-oauth2' %}">
        Sign in with Google</a>
	</div>
{% endblock %}