{% extends "polls/base.html" %}
{% block title %}User Login{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <p id="alert">Your username and password didn't match.
      Please try again.</p>
    </div>
  {% endif %}

  <div class='container'>
    <form class="form-signin" method="post" action="{% url 'account:login' %}">
      <h2 class="form-signin-heading">Log in</h2>
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username" class="sr-only">Email or username</label>
        <input type="text" id="id_username" class="form-control control-label"
               placeholder="Enter email or username" name='username' maxlength='30' required autofocus>
      </div>
      <div class="form-group">
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" id="id_password" class="form-control control-label"
               placeholder="Enter your password" name='password' maxlength='30' required>
        <a href="{% url "account:password_reset" %}">Forgot your password?</a>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      <div><br/></div>
      <div class="form-group">
          <a class="facebook btn btn-sm btn-primary" href="{% url 'social:begin' 'facebook' %}?next={{request.GET.next}}">
            Login with Facebook</a>
          <a class="google btn btn-sm btn-danger" href="{% url 'social:begin' 'google-oauth2' %}?next={{request.GET.next}}">
            Login with Google</a>
      </div>
      <input type="hidden" name="next" value="{{request.GET.next}}" />
      <div class="form-group">
        Need an account? <a href="{% url "account:register" %}">Sign up now</a>
      </div>
    </form>
  </div>

  {% endblock %}
