{% extends "polls/base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="." method="post">
  {{ form.as_p }}
  {% csrf_token %}
  <p><input type="submit" value="Send e-mail"></p>
</form>
{% endblock %}
