{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:app_id"     content='389801957856926' />
    <meta property="og:url"  content= "https://www.pollsportal.com/polls/register" />
    <meta property="og:description"  content= "Invitation to pollsportal. Voice your opinion, create &amp; vote on poll." />
    <meta property="og:site_name"  content="PollsPortal" />
    <meta property="og:image"      content="http://res.cloudinary.com/pollsportal/image/upload/v1468676234/logo5_ty4l1f.png"/>
    <meta property="og:image:width" content="200"/>
    <meta property="og:image:height" content="200"/>

    <script>
      (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '389801957856926',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.6',

        });
      }
    </script>

    <title>PollsPortal |
      Voice your opinion</title>
      <!-- bootstrap core css used -->
      <link rel="shortcut icon" href="{% static 'polls/images/favicon.ico' %}" type="image/x-icon" />
      <link rel="stylesheet" type="text/css"
        href="{% static 'polls/bootstrap/dist/css/bootstrap.min.css' %}" media="screen" />

        <!-- Custom styles for this template -->
      <link href="{% static 'polls/css/style.css' %}" rel="stylesheet" type="text/css">
      <!-- custom fonts using awesome font -->
      <link href="{% static 'polls/bootstrap/dist/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
      <script src="{% static "polls/js/jquery.js" %}"></script>
      {% block external %}{% endblock %}
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">PollsPortal<br></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav top-nav navbar-nav" role="tablist">
            <li><a href="/"><i class="fa fa-home fa-2x"></i></a></li>
            <li class="visible-xs visible-sm"><a href="/">Home</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url "polls:popular" %}">popular</a></li>
              <li>
                  <a href="{% url 'polls:save_page' user.username %}">create poll</a>
              </li>

              <li class="dropdown hidden-sm" role="navigation">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">invite friends<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url "polls:friend_invite" %}">by email</a></li>
                  <li class="visible-lg"><a href="#" onclick="sendInvite()" />facebook friends</a></li>
                </ul>
              </li>
              <li><a href="{% url "polls:help" %}">help/guide</a></li>

            {% endif %}
          </ul>
          {% if user.is_authenticated %}
            <ul class="nav top-nav navbar-nav navbar-right">
              <li><a href="{% url "polls:user_page" user.username %}" />logged in as {{user.username | escape}}</a></li>
              <li><a href="{% url 'account:logout' %}"><i class="fa fa-sign-out"></i> log out</a></li>
              <li class="dropdown" role="navigation">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">my account <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url "account:edit_profile" %}">Update profile</a></li>
                  <li><a href="{% url "account:password_change" %}">change password</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header"></li>
                  <li><a href="{% url "account:my_settings" %}">Settings</a></li>
                  {% if user.is_staff %}
                    <li><a href="/admin/login">Admin portal</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>

          {% endif %}
          {% if not user.is_authenticated %}
            <ul class="nav top-nav navbar-nav navbar-right" role="navigation">
              <li>
                <form class="navbar-form navbar-right" role="search"
                    method="get" action="{% url 'polls:search' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" placeholder="search for people, polls or category"
                      id="id_query" name='query' size='32' class="form-control">
                  </div>
                  <button type="submit" class="btn btn-sm btn-success" value="search">
                    <i class="fa fa-search"></i></button>
                </form>
              </li>
            </ul>
          {% endif %}
        </div><!--/ .nav-collapse -->
    </nav>

    <div id="page-wrapper">
      <div class="container-fluid">
        {% if messages %}
          <div class="alert alert-info" role='alert'>
            <ul class="messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.username.errors }}
            {{ form.email.errors }}
            {{ form.password1.errors }}
            {{ form.password2.errors }}
          </div>
        {% endif %}
        <div class='container'>
          <form class="form-signin" method="post" action="{% url "account:register" %}">
            {% csrf_token %}
            <h2 class="form-signin-heading">Create Account</h2>
            <label for="id_username" class="sr-only">Username</label>
            <input type="text" id="id_username" class="form-control"
                   placeholder="Username" name='username' maxlength='30' required autofocus>
            <label for="id_gender" class="sr-only">Sex</label><select id="id_gender"
                  name="gender" class="form-control" required>
                  <option value="" selected="selected">Select gender</option>
                  <option value='M'>Male</option>
                  <option value="F">Female</option>
                </select>
            <label for="id_email" class="sr-only">Email</label>
            <input type="email" id="id_email" class="form-control"
                  placeholder="you@example.com" name='email' required>
            <label for="id_password1" class="sr-only">Password</label>
            <input type="password" id="id_password1" class="form-control"
                   placeholder="Password" name='password1' minlength='6' required>
            <label for="id_password2" class="sr-only">Confirm password</label>
            <input type="password" id="id_password2" class="form-control"
                  placeholder="Confirm password" name='password2' minlength='6' required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            <p>Have an account? <a href="{% url "account:login" %}">Log in </a>
            <p><small>By creating a Pollsportal account, you agree to the <a href="{% url "terms" %}"/>
            Terms of Service</a> and our <a href="{% url "privacy" %}"/>Privacy Policy</a></small></p>
          </form>

          <div class='form-signin social-reg'>
              <a class="facebook btn btn-primary" href="{% url "social:begin" "facebook" %}">
                Login with Facebook</a>
              <a class="google btn btn-danger" href="{% url "social:begin" "google-oauth2" %}">
                Login with Google</a>
          </div>

        </div>

      </div><!-- /.container -->
    </div>
  </div>
  <div class="clearfix visible-xs"></div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">&#169; 2016 Dayma. All rights reserved. <a href="{% url "terms" %}"/>
      Terms of Service</a> | <a href="{% url "privacy" %}"/>Privacy Policy</a> |
        <a href="{% url "feedback" %}">Feedback</a></p>
    </div>
  </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80275601-1', 'auto');
      ga('require','linkid');
      ga('send', 'pageview');

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "polls/bootstrap/assets/js/vendor/jquery.min.js" %}><\/script>')</script>
    <script src = "{% static 'polls/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src = "{% static 'polls/bootstrap/assets/js/docs.min.js' %}"></script>
  </body>
</html>
