{% extends "polls/base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<h1>Welcome {{username}}</h1>
<p>Your account has been successfully created. Now you can <a
href="{% url "account:login" %}">log in</a>.</p>
{% endblock %}
