{% load inlinecss %}
{% inlinecss "polls/css/welcome.css" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<html>
  <head>
    <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="date=no" />
  <meta name="format-detection" content="address=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="x-apple-disable-message-reformatting" />
    
  </head>
  <body class="body"style="padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#ddd; -webkit-text-size-adjust:none;">
<!--*|IF:MC_PREVIEW_TEXT|*-->
    <!--[if !gte mso 9]><!-->
    <span class="mcnPreviewText" style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;">*|MC_PREVIEW_TEXT|*</span>
    <!--<![endif]-->
  <!--*|END:IF|*-->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ddd">
    <tr>
      <td align="center" valign="top">
      <!-- Main -->
      <table width="450" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
        <tr>
	        <td class="td" style="width:450px; min-width:450px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
	          <!-- Header -->
		      <table width="100%" border="0" cellspacing="0" cellpadding="0">
		        <tr>
		          <td class="p30-15" style="padding: 40px 0px 20px 0px;">
		            <table width="100%" border="0" cellspacing="0" cellpadding="0">
		              <tr>
		                <th class="column-top" width="200"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
		                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
		                    <tr>
		                        <td class="img"style="font-size:0pt; line-height:0pt; text-align:left;">
		                        	<img src="cid:pp-logo-new.png" width="60" height="60" mc:edit="image_7" style="max-width:60;" border="0" alt="logo" /></td>
		                      <td class="text-top m-center mpb5"style="color:#5cb85c; font-family:'Times New Roman', Georgia, serif; font-size:28px; line-height:22px; text-align:left; text-transform:uppercase;"><div mc:edit="text_1">PollsPortal</div></td>
		                    </tr>
		                  </table>
		                </th>
		              </tr>
		            </table>
		          </td>
		        </tr>
		        <!-- END Top bar -->      
	            <!-- Nav -->
	            <tr>
	              <td class="text-nav-white" bgcolor="#9babdb"style="color:#ffffff; font-family:'Roboto', Arial, sans-serif; font-size:12px; line-height:12px; text-align:center; text-transform:uppercase; padding-top:10px;">
	                <h3>{{subject}}</h3>
	              </td>
	            </tr>
	            <!-- END Nav -->
		      </table>
		      <!-- END Header -->
		      <!-- Section 1 -->
		      <div mc:repeatable="Select" mc:variant="Section 1">
	            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ebebeb">
	              <tr>
	                <td class="fluid-img"style="font-size:0pt; line-height:0pt; text-align:left;"><img src="cid:img_poll1.jpg" width="100%" height="358" mc:edit="image_7" style="max-width:650px;" border="0" alt="pollimage" /></td>
	              </tr>
	              <tr>
	                <td class="p30-15-0" style="padding: 50px 30px 0px;" bgcolor="#ffffff">
	                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	                    <tr>
	                      <td class="h5-center"style="color:#a1a1a1; font-family:'Raleway', Arial,sans-serif; font-size:16px; line-height:22px; text-align:left; padding-bottom:5px;">
	                        <div mc:edit="text_3">Hi {{name}}</div>
	                      </td>
	                    </tr>
						<tr>
						    <td class="h5-center"style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left; padding-bottom:5px;">
							    <div mc:edit="text_4">
	                                Your friend, {{inviter.get_full_name}} invited you to join PollsPortal,
	a community of pollers, where you can create, share or vote on polls/quizzes
	To accept the invitation, please click the link below:
								</div>
							</td>
						</tr>
						<tr>
							<td align="center">
								<table border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td class="text-button-orange"style="background:#e85711; color:#ffffff; font-family:'Kreon', 'Times New Roman', Georgia, serif; font-size:14px; line-height:18px; text-align:center; padding:10px 30px; border-radius:20px;"><div mc:edit="text_6"><a href="{{link}}" target="_blank" class="link-white"style="color:#ffffff; text-decoration:none;"><span class="link-white"style="color:#ffffff; text-decoration:none;">Accept Invitation</span></a></div></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<div mc:edit="text_4">
								    <p style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; padding-bottom:22px;">Happy polling!</p>
								    <p style="font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:14px; line-height:22px;">&mdash; {{sender}}</p>
								</div>
							</td>
						</tr>
	                  </table>
	                </td>
	              </tr>
	            </table>
		        </div>
		        <!-- END Section 1 -->
		        <!-- Blue Padder -->
		        <div mc:repeatable="Select" mc:variant="Blue Padder">
		          <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#dde8fd">
		            <tr>
		              <td class="img mp30" style="padding-top: 30px; font-size:0pt; line-height:0pt; text-align:left;"><div mc:edit="text_54"></div></td>
		            </tr>
		          </table>
		        </div>
		        <!-- END Blue Padder -->       
		    </td>
	    </tr>
	  </table>
	  <!-- END Main -->
	      
	  <td>
    </tr>
  </table>
  </body>
</html>
{% endinlinecss %}