<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load extra_tags %}
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>New Vote</title>

<link rel="stylesheet" type="text/css" href="{{protocol}}://{{domain}}{% static 'polls/css/email.css' %}" />

</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#999999">
	<tr>
		<td></td>
		<td class="header container" >

				<div class="content">
				<table bgcolor="#999999">
					<tr>
						<td></td>
						<td align="right"><h6 class="collapse">PollsPortal</h6></td>
					</tr>
				</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3>Hi, {{owner}}</h3>
						<p class="lead">{{performer}} just voted on your poll
              <a href="{{protocol}}://{{domain}}{% url 'polls:results' question.id question.slug %}">{{question}}</a></p>
						<p>Here is the statistics</p>
						<!-- Callout Panel -->
            <div class="callout table-responsive">
              <table class="table table-hover table-condensed">
                <thead>
                  <tr>
                    <th>Poll choices</th>
                    <th>Male votes</th>
                    <th>Female votes</th>
                    <th>Total votes</th>
                    <th>Percentage (%)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for choice in question.choice_set.all %}
                  <tr>
                    <td>{{choice.choice_text}}</td>
                    <td>{{choice.m_votes}}</td>
                    <td>{{choice.f_votes}}</td>
                    <td>{{choice.votes}}</td>
                    <td>{% percentnosymbol choice.votes tot_votes %}</td>
                  </tr>
                  {% endfor %}

                  <tr>
                    <td>Total</td>
                    <td>{{male_votes}}</td>
                    <td>{{female_votes}}</td>
                    <td>{{tot_votes}}</td>
                    <td>{% percentnosymbol tot_votes tot_votes %}</td>
                  </tr>

                  <tr>
                    <td>Percentage</td>
                    <td>{% percentnosymbol male_votes tot_votes %}</td>
                    <td>{% percentnosymbol female_votes tot_votes %}</td>
                    <td></td>
                    <td>{% percent tot_votes tot_votes %}</td>
                  </tr>
                </tbody>
              </table>
            </div><!-- table-responsive-->
						<!-- /Callout Panel -->

            <p>Thank you for using <a href="{{protocol}}://{{domain}}">PollsPortal</a>
            </p>
            <h4>Polls Portal team</h4>

						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>

									<!-- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>

												<h5 class="">Follow Us:</h5>
												<p class=""><a href="#" class="soc-btn tw">@pollsportal1</a></p>

											</td>
										</tr>
									</table><!-- /column 1 -->

									<!-- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>

												<h5 class="">Contact Info:</h5>
                <p>Email: <strong><a href="emailto:info@pollsportal.com">info@pollsportal.com</a></strong></p>

											</td>
										</tr>
									</table><!-- /column 2 -->

									<span class="clear"></span>

								</td>
							</tr>
						</table><!-- /social & contact -->

					</td>
				</tr>
			</table>
			</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
				<table>
        <tr>
          <td>
            <p>You received this email because you signed up for an account at Polls Portal</p>
            <p>Want to change how you receive these emails?<br>
               You can <a href="{{protocol}}://{{domain}}{% url 'account:account_settings' %}">update your preferences</a>
          </td>
        </tr>
				<tr>
					<td align="center">
						<p>
              <a href="{{protocol}}://{{domain}}{% url "terms" %}">Terms</a> |
              <a href="{{protocol}}://{{domain}}{% url "privacy" %}">Privacy</a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
