{% load inlinecss %}
{% inlinecss "polls/css/welcome.css" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<html>
  <head>
    <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="date=no" />
  <meta name="format-detection" content="address=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="x-apple-disable-message-reformatting" />
    <style type="text/css" media="screen">
    
    
    /* Mobile styles */
    @media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
      .mobile-shell { width: 100% !important; min-width: 100% !important; }
      
      .m-center { text-align: center !important; }
      .m-left { text-align: left !important; margin-right: auto !important; }
      
      .center { margin: 0 auto !important; }
      .content2 { padding: 8px 15px 12px !important; }
      .t-left { float: left !important; margin-right: 30px !important; }
      .t-left-2  { float: left !important; }
      
      .td { width: 100% !important; min-width: 100% !important; }

      .content { padding: 30px 15px !important; }
      .section { padding: 30px 15px 0px !important; }

      .m-br-15 { height: 15px !important; }
      .mpb5 { padding-bottom: 5px !important; }
      .mpb15 { padding-bottom: 15px !important; }
      .mpb20 { padding-bottom: 20px !important; }
      .mpb30 { padding-bottom: 30px !important; }
      .mp30 { padding-bottom: 30px !important; }
      .m-padder { padding: 0px 15px !important; }
      .m-padder2 { padding-left: 15px !important; padding-right: 15px !important; }
      .p70 { padding: 30px 0px !important; }
      .pt70 { padding-top: 30px !important; }
      .p0-15 { padding: 0px 15px !important; }
      .p30-15 { padding: 30px 15px !important; }      
      .p30-15-0 { padding: 30px 15px 0px 15px !important; }     
      .p0-15-30 { padding: 0px 15px 30px 15px !important; }     


      .text-footer { text-align: center !important; }

      .m-td,
      .m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }

      .m-block { display: block !important; }

      .fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }

      .column,
      .column-dir,
      .column-top,
      .column-empty,
      .column-top-30,
      .column-top-60,
      .column-empty2,
      .column-bottom { float: left !important; width: 100% !important; display: block !important; }

      .column-empty { padding-bottom: 15px !important; }
      .column-empty2 { padding-bottom: 30px !important; }

      .content-spacing { width: 15px !important; }
    }
  </style>
  </head>
  <body class="body"style="padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#eee; -webkit-text-size-adjust:none;">
<!--*|IF:MC_PREVIEW_TEXT|*-->
    <!--[if !gte mso 9]><!-->
    <span class="mcnPreviewText" style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;">*|MC_PREVIEW_TEXT|*</span>
    <!--<![endif]-->
  <!--*|END:IF|*-->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#eee">
    <tr>
      <td align="center" valign="top">
    <!-- Main -->
      <table width="450" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
        <tr>
        <td class="td" style="width:450px; min-width:450px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
          <!-- Header -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
          <td class="p30-15" style="padding: 40px 0px 20px 0px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th class="column-top" width="200"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="img"style="font-size:0pt; line-height:0pt; text-align:left;"><img src="{% static 'polls/imgs/pp-logo-new.png' %}" width="60" height="60" mc:edit="image_7" style="max-width:60;" border="0" alt="" /></td>
                      <td class="text-top m-center mpb5"style="color:#5cb85c; font-family:'Times New Roman', Georgia, serif; font-size:28px; line-height:22px; text-align:left; text-transform:uppercase;"><div mc:edit="text_1">PollsPortal</div></td>
                    </tr>
                  </table>
                </th>
              </tr>
            </table>
          </td>
        </tr>
        <!-- END Top bar -->      
          <!-- Nav -->
          <tr>
              <td class="text-nav-white" bgcolor="#9babdb"style="color:#ffffff; font-family:'Roboto', Arial, sans-serif; font-size:12px; line-height:12px; text-align:center; text-transform:uppercase; padding-top:10px;">
                <h3>Welcome to PollsPortal</h3>
            </td>
            </tr>
          <!-- END Nav -->
        </table>
        <!-- END Header -->
        <!-- Section 1 -->
        <div mc:repeatable="Select" mc:variant="Section 1">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ebebeb">
              <tr>
              <td class="fluid-img"style="font-size:0pt; line-height:0pt; text-align:left;"><img src="{% static 'polls/imgs/mail/img_poll1.jpg' %}" width="100%" height="358" mc:edit="image_7" style="max-width:650px;" border="0" alt="" /></td>
            </tr>
            <tr>
                <td class="p30-15-0" style="padding: 50px 30px 0px;" bgcolor="#ffffff">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="h5-center"style="color:#a1a1a1; font-family:'Raleway', Arial,sans-serif; font-size:16px; line-height:22px; text-align:left; padding-bottom:5px;">
                        <div mc:edit="text_3">Hi {{name}}</div>
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <div mc:edit="text_4">
                                                <p>Welcome to Pollsportal, a community of pollers, creating, sharing and discovering clean, honest opinions on happenings in the society.</p>
                                                <p>Curious what poll is trending?  Head on over to the <a href="{{protocol}}://{{domain}}">homepage</a> and vote on polls that catch your eye.  Remember, everything you vote on is saved to your dashboard so you can easily find it again for updates. 
You can also create your own polls, quizzes or surveys and ask the community for votes/responses.</p>
                                                <p>Follow other users to get updates on their activities and also request for votes.</p>
                                                <p>Feel free to checkout our <a href="https://www.pollsportal.com/polls/help"/>Help page</a> to get answers
      on how to navigate and maximize your experience on the site</p>
                                                <p>Don't forget to follow us <a href="https://twitter.com/pollsportal1">@pollsportal1</a> for updates on new polls and features</p>
                          <p style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; padding-bottom:22px;">Happy polling!</p>
                          <p style="font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:14px; line-height:22px;">&mdash; PollsPortal Team</p>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <!-- END Section 1 -->
        <!-- Blue Padder -->
        <div mc:repeatable="Select" mc:variant="Blue Padder">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#dde8fd">
            <tr>
              <td class="img mp30" style="padding-top: 30px; font-size:0pt; line-height:0pt; text-align:left;"><div mc:edit="text_54"></div></td>
            </tr>
          </table>
        </div>
        <!-- END Blue Padder -->
        <!-- Footer -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="p30-15-0" bgcolor="#ffffff" style="border-radius: 0px 0px 20px 20px; border-top: 1px solid #ebebeb; padding: 0px 40px 0px 40px;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="text-center"style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:center; padding-bottom:22px;">
                      <div mc:edit="text_5">For support questions, please email <a href="mailto:support@pollsportal.com">support@pollsportal.com</a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        
        </td>
      </tr>
      </table>
      <!-- END Main -->
      
    <td>
    </tr>
  </table>
  </body>
</html>
{% endinlinecss %}